.page-admin-portal {
    .transportation-benefit .warning-item-modal .upper-content {
        padding-top: 60px;
    }

    .override-indicator-icon {
        width: 22px;
        height: 14px;

        svg {
            fill: $berry;
        }
    }

    h4, label, h3 {
        .override-indicator-icon {
            margin-left: 10px;
        }
    }

    a.underline {
        border-bottom: 0;
        color: $grey-medium-dark;
        cursor: pointer;
        font-size: 12px;
        text-decoration: underline;

        @include media(small) {
            font-size: 14px;
        }

        &:hover:not(:disabled) {
            color: $black;
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.8;
        }

        &.vehicles {
            margin-left: 10px;
        }
    }

    .override-indicator-text {
        display: inline-block;
        font-size: 13px;
        margin-top: 10px;

        @include media(small) {
            font-size: 14px;
        }

        span {
            color: $berry;
            margin: 0 10px;
        }

        &.input-field {
            margin-top: 5px;

            span {
                color: $grey-medium-dark;
                font-weight: bold;
                margin: 0 10px 0 3px;
            }
        }

        a {
            display: block;
            margin-top: 5px;

            @include media(smallMedium) {
                margin: 0 0 0 33px;
            }
            @include media(mediumLarge) {
                display: inline;
                margin: 0;
            }
        }
    }

    .page-section:not(.locations):not(.vehicles):not(.billing):not(.users) {
        .admin-portal-table {
            th, td {
                &:not(.check-column) {
                    min-width: 150px;

                    @include media(large) {
                        min-width: 200px;
                    }
                }
            }
        }
    }

    .page-section.users {
        .form-block:not(:last-of-type):not(.no-underline) {
            border-bottom: 1px solid $purple-blue;
            padding-bottom: 20px;
        }
    }

    &.dispatch {
        @include nice-easing-animation;
        margin-top: 50px;

        @media screen and (max-width: $break-mobile) {
            margin-top: 58px;
        }

        @include media(small) {
            margin-top: 0;
        }
    }

    .admin-portal-billing {
        > div:last-of-type {
            margin-top: 30px;

            .admin-portal-search {
                border-top: 1px solid $white-dark;
                border-bottom: 0;
                padding-top: 22px;
                padding-bottom: 0;
            }
        }
    }

    h5 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .download {
        position: relative;

        button {
            min-width: 111px;
            height: 35px;
            background-color: $grey;
            border-radius: 0;
            border-top-left-radius: 3px;
            margin-bottom: 5px;

            &:hover, &.active {
                background-color: $grey-dark;
            }
        }

        &.loading button {
            min-width: 146px;
            background-color: $grey-dark;
            pointer-events: none;
        }

        .download-options {
            margin: -5px 0 0;
        }
    }

    .page-name {
        width: 100%;
    }

    .page-section {
        background-color: $white;
        padding: 4rem;

        @media screen and (max-width: $break-small) {
            padding: 1rem;
        }
    }

    .admin-page.hide {
        display: none;
    }

    .circulation-loader {
        position: inherit;
        height: 50vh;
    }

    .pages {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        margin-top: 20px;

        div {
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            a {
                min-width: 30px;
                border-radius: 2px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0.5rem 1rem;

                &.disabled {
                    background-color: $brand-purple;
                    color: $white;
                }
            }

            a:first-of-type {
                position: absolute;
                left: 0;
                background-color: transparent;
                border: 0;
                display: flex;
                align-items: center;
                margin-right: 3rem;

                &.disabled {
                    color: inherit;
                }
            }

            a.ellipsis {
                color: $grey;
                align-items: flex-end;
                pointer-events: none;
            }

            a:last-of-type {
                position: absolute;
                right: 0;
                background-color: transparent;
                border: 0;
                display: flex;
                align-items: center;
                margin-left: 3rem;

                &.disabled {
                    color: inherit;
                }
            }
        }
    }

    .rider-search {
        max-height: 80px;
        margin-bottom: 2rem;
        opacity: 1;

        transition: all 0.25s ease-out;
    }

    .mode-clinical .rider-search {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    .no-data {
        margin: 20px 0;

        .fa {
            margin-right: 5px;
        }
    }

    .admin-table-header {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;
        font-size: 2.5rem;
        margin-bottom: 0;

        transition: 0.2s ease-in-out font-size;

        .input-wrapper {
            width: auto;
        }

        h3 {
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 1rem;

            @include media(small) {
                font-size: 2.2rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        &.error {
            cursor: pointer;
            font-size: 2rem;
            margin-top: 20px;

            span {
                color: $grey;
                display: flex;
                align-items: center;
                font-weight: 500;
            }

            .fa {
                font-size: 2rem;
                margin-right: 1rem;

                &:hover {
                    color: darken($grey, 10%);
                }
            }
        }

        @include media(smallMedium) {
            flex-direction: row;
            align-items: flex-start;
        }

        .table-actions {
            position: absolute;
            right: 0;
            bottom: -5px;

            &.low {
                bottom: -4.7rem;
            }
        }

        .add-new-button {
            height: 35px;
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            margin-right: 0.5rem;
            padding: 0 1.5rem;
        }
    }

    .second-row {
        > .underline {
            display: inline-block;
            margin: 20px 0;

            @include media(smallMedium) {
                float: right;
                margin: 10px 0 0;
            }
        }

        + form {
            clear: both;
        }
    }

    .admin-portal-table {
        .firefox &, .ie11 & {
            input:not(.check-toggle) {
                padding: 0;
                padding-left: 64px;
            }
        }

        tr > td {
            transition: all 0.25s ease-out;

            &.tight {
                padding: 0;
            }

            &.slim {
                padding: 0;

                > span {
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    padding-left: 1rem;
                }
            }
        }

        tr, td {
            vertical-align: top;

            .fa-angle-right, .fa-angle-down {
                cursor: pointer;
                pointer-events: all;

                transition: 0.2s ease-in-out all;

                &:hover {
                    color: $grey;
                }
            }

            .flex-wrapper.center-align {
                height: 30px;
                align-items: center;
            }
        }

        .table-dropdown,
        .expandable-toggles {
            .relative-position .input-wrapper {
                border-bottom: 1px solid $white-dark;

                input {
                    overflow: hidden;
                    padding-right: 40px;
                    text-overflow: ellipsis;
                }
            }

            .input-wrapper input[type="text"] {
                height: 42px;
            }

            .footnote {
                background-color: $white;
                margin: 0;
                padding: 1rem;
            }

            .footer {
                top: 52px;
                right: 25px;
            }

            &.select-all-on-newline {
                .footer {
                    top: 80px;
                    right: unset;
                    left: 5px;
                }

                .options { padding-top: 30px; }
            }
        }

        .dropdown-options {
            border: 0;
            border-radius: 0;
            padding: 0;

            .options {
                flex-wrap: nowrap;
                padding: 5px;

                .checkbox-wrapper {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .option {
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 0.5rem 1rem;

                    .fa.success {
                        color: $success-color;
                        margin-left: 6px;
                    }

                    &.selected {
                        background-color: #c9c9fb;
                    }
                }

                .option:hover {
                    background-color: $white-dark;
                }

                @include media(medium) {
                    flex-direction: column;
                    flex-wrap: nowrap;

                    .checkbox-wrapper {
                        width: 100%;
                    }
                }
            }
        }

        tr > td > span {
            position: relative;
            display: block;
            font-size: 14px;
            overflow: hidden;

            transition: all 0.25s ease-out;

            > .input-wrapper:not(.checkbox-wrapper) {
                height: 44px;
                border-bottom: 1px solid $white-dark;
            }

            .input-wrapper {
                margin: 0;

                input[type="text"],label,label::before {
                    height: 40px;
                    border: 0;
                    font-size: 14px;
                }

                &.mini {
                    .icon-form svg {
                        fill: $grey-warm-darker;
                    }

                    input {
                        cursor: text;
                        pointer-events: all;

                        &::placeholder {
                            color: $grey-warm-darker;
                            font-size: 1.3rem;
                            font-weight: 500;
                        }
                    }

                    input[type="text"],label,label::before {
                        height: 30px;
                    }
                }
            }
        }

        tr.omit > td {
            border-bottom-width: 0;
            padding-top: 0;
            padding-bottom: 0;

            &.check-column {
                height: 0;
            }
        }

        tr.omit > td > span {
            max-height: 0;
            margin: 0;
            padding: 0;
        }

        .check-column {
            width: 74px;

            .input-wrapper {
                border-bottom: 0;
            }

            &.wide {
                width: 160px;
            }

            > span {
                display: flex;
                justify-content: center;

                .input-wrapper {
                    width: 50px;
                }
            }

            &.sep-invoice {
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                a {
                    border-bottom: 1px solid transparent;
                    cursor: pointer;
                    font-size: 1.2rem;
                    margin-top: 0.2rem;
                    margin-right: 1.5rem;
                    text-transform: uppercase;

                    transition: 0.4s $sweetEasing all;

                    &:hover {
                        border-bottom: 1px solid $brand-purple;
                    }
                }
            }
        }

        .dropdown {
            padding: 0;

            .input-wrapper {
                margin: 0;

                select {
                    border: 0;
                }

                .select-label {
                    height: 49px;

                    .select-icon {
                        height: 15px;

                        svg {
                            transition: 0.25s $sweetEasing fill;
                        }

                        svg#icon-circle_x {
                            fill: $error-color;
                        }

                        svg#icon-circle_check {
                            fill: $success-color;
                        }
                    }
                }

                select, .select-label {
                    background: $white;
                }
            }
        }

        .clickable {
            cursor: pointer;

            &:hover {
                color: $brand-purple;
            }
        }

        .icon-column {
            width: 18px;
        }

        .checkbox-wrapper {
            border: 0;
            margin: 0;
        }

        .locked {
            background-color: $white-medium-dark;
            pointer-events: none;

            select, .select-label {
                background: $grey-warm-darker;
            }
        }

        .icons {
            position: absolute;
            right: 1rem;
            z-index: 1000;
            height: 100%;
            display: flex;
            align-items: center;

            .fa-trash {
                cursor: pointer;
                font-size: 1.4rem;

                transition: 0.2s $sweetEasing all;

                &:hover {
                    color: $error-color;
                }
            }
        }

        .editable {
            input:not(.check-toggle) {
                background-color: $white;
            }

            label::before {
                background: $white;
            }
        }
    }

    .clickable {
        tr {
            @include nice-easing-animation;
            box-shadow: inset 0 0 0 0 $white;
            cursor: pointer;

            &:hover {
                background: $white-dark;
                box-shadow: inset 1px 1px 3px 0 $grey-extra-light, inset -1px 0 3px 0 $grey-extra-light;
            }

            &.pending {
                pointer-events: none;
            }
        }
    }

    .home-search-result.add-rider {
        display: none !important;
    }

    .edit {
        width: 40px;
        height: 40px;
        background: $brand-accent-color;
        cursor: pointer;
        padding: 5px 10px;

        .fa { color: $white; }

        svg {
            position: relative;
            width: 20px;
            height: 20px;
            fill: $white;
        }

        &.unlocked {
            background: $success-color;

            svg { fill: $grey-dark; }

            &.disabled {
                background: $grey-very-light;
                cursor: not-allowed;

                svg {
                    fill: $grey;
                }
            }
        }

        &.disabled {
            pointer-events: none;
        }
    }

    .lockout {
        table.admin-portal-table:not(.delete):not(.disable-editing) {
            border-top: $sucess-border;
        }

        table.admin-portal-table:not(.delete) {
            margin: 0;
        }

        &.locked {
            table {
                &:not(.delete):not(.disable-editing), &.only-table {
                    border-top: $accent-border;
                }
            }

            tbody {
                background-color: $white-medium-dark;
                pointer-events: none;

                td span {
                    color: $grey-warm;
                }

                tr > td > span > .input-wrapper:not(.checkbox-wrapper) {
                    border-bottom: 1px solid $grey-extra-light;
                }

                .table-dropdown,
                .expandable-toggles {
                    .option .fa.success {
                        color: $grey;
                    }
                }

                .dropdown-options {
                    background-color: $white-medium-dark;
                    border-color: $grey-very-light;

                    .check-toggle-label {
                        color: $grey;
                    }

                    &::-webkit-scrollbar {
                        width: 0;
                    }
                }
            }

            .fa-trash {
                display: none;
            }

            input {
                background-color: $white-medium-dark;
                color: $grey;
                cursor: default;

                animation: none;

                + label::before {
                    background: $white-medium-dark;
                }

                &.check-toggle {
                    background-color: rgba($pinkish-grey, 0.6);

                    &::before {
                        background-color: $pinkish-grey;
                    }
                }

                &:not(.check-toggle) {
                    background-color: $white-medium-dark;
                }
            }
        }
    }

    .locked {
        .dropdown .input-wrapper {
            .select-arrow {
                opacity: 0;
            }

            select, .select-label {
                background-color: $white-dark;

                .select-icon {
                    svg {
                        &#icon-circle_x {
                            fill: $grey;
                        }

                        &#icon-circle_check {
                            fill: $grey;
                        }
                    }
                }
            }
        }
    }

    .page-section.rates {
        .dropdown-wrapper {
            max-height: 34px;
            float: right;
            margin-bottom: 10px;

            + div {
                clear: both;
            }
        }
    }


    .page-section.org, .page-section.transportation-provider {
        position: relative;
        background-color: $white-dark;
        padding: 0;

        .header.flex-end {
            position: absolute;
            left: 0;
            width: 100%;
            border-top: $sucess-border;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;

            .table-actions {
                margin-top: 0;
            }

            .dropdown-wrapper {
                height: 35px;
                margin-bottom: 20px;

                // @include nice-easing-animation;
                @include media(smallMedium) {
                    margin: 0 10px;
                }
                @include media(medium) {
                    margin: 0;
                    padding-top: 6rem;
                    padding-right: calc(8rem - 40px);
                }
            }

            &.locked {
                border-top: $accent-border;
            }

            &.disabled {
                border-top: 5px solid $grey-very-light;
            }

            .edit {
                height: 35px;
                display: flex;
                display: flex;
                align-items: center;
                justify-content: center;

                &.unlocked {
                    height: 40px;
                    margin-top: -5px;
                }
            }

            .table-actions {
                display: flex;
                align-items: center;
            }

            .unsaved-changes {
                font-size: 14px;
                margin-right: 1rem;
                text-align: right;

                @include flex-center;

                &.warning {
                    color: $greyish-brown;

                    svg {
                        fill: $error-color;
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    fill: $grey;
                }

                @media screen and (max-width: $break-mobile) {
                    font-size: 1.1rem;
                    margin-right: 0.5rem;
                }
            }
        }

        .sticky .header {
            position: relative;
            max-width: 400px;
            margin: 0 auto;

            @include media(small) {
                width: calc(100% - 136px);
                max-width: none;
                margin-left: 106px;
            }
            @include media(xlarge) {
                width: calc(100% - 381px);
                margin-left: 228px;
            }

            .unsaved-changes {
                background-color: $white-medium-dark;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                font-size: 13px;

                @media screen and (max-width: $break-small) {
                    width: 400px;
                    height: 35px;
                    margin-right: -40px;
                }

                @include media(small) {
                    border-radius: 30px;
                    margin-right: 0.5rem;
                    padding: 0.5rem 0.8rem;
                }
            }
        }

        .page {
            background-color: $white;
            padding: 4rem 4rem 5rem;

            @media screen and (max-width: $break-mobile) {
                padding-bottom: 6rem;
            }

            @include media(medium) {
                padding: 6rem 8rem;
            }

            p, .footnote {
                font-size: 1.3rem;
            }

            .crud-event {
                p {
                    font-size: 1.4rem;
                }
            }

            .footnote {
                position: relative;
                bottom: 0;
                width: auto;
                max-width: 350px;
                border-top: 1px solid $white-dark;
                margin-top: 2rem;
                padding: 0.5rem 1rem 0 0;

                @include media(small) {
                    margin-top: 0;
                }
            }
        }

        .crud-event {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 15px;

            .details-on-create {
                width: 100%;
                display: flex;
                flex-direction: row;

                .row {
                    width: 100%;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                }

                .row:nth-child(1) {
                    margin-bottom: 10px;

                    p {
                        width: 100%;
                    }
                }

                .group {
                    width: 100%;
                }

                .title {
                    color: $grey-dark;
                    margin-top: 5px;
                }
            }

            h4 {
                width: 100%;
                margin-right: 5px;
                margin-bottom: 8px;
            }

            i {
                margin-right: 5px;
            }

            &.no-details {
                margin-bottom: 25px;
            }
        }

        form {
            border-top: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .expandable-wrapper {
                max-height: 0;

                transition: 0.5s ease all;

                &.expanded {
                    max-height: 500px;
                    overflow-y: scroll;
                }
            }

            .dotted-bottom {
                padding-bottom: 20px;

                .header-and-arrow {
                    cursor: pointer;

                    i {
                        color: $brand-purple;
                    }

                    h4, i {
                        display: inline-block;
                        margin: 0;
                        vertical-align: middle;

                        transition: 0.2s ease all;
                    }

                    h4 {
                        width: 93%;
                    }

                    &:hover > h4, &.expanded > h4 {
                        width: 95%;
                    }

                    &.expanded > i {
                        transform: rotate(90deg);
                    }
                }
            }

            .dispatch-org-section {
                width: 100%;
                margin-top: 20px;

                &:not(:last-of-type) {
                    border-bottom: 1px solid $pinkish-grey;
                }

                .org-setting {
                    .checkbox-wrapper {
                        label {
                            font-size: 14px;
                        }
                    }

                    span {
                        font-size: 14px;
                    }

                    .input-label {
                        h3 {
                            position: relative;
                            color: $grey-medium-dark;
                            font-size: 12px;
                            margin: 20px 0 5px;
                            white-space: nowrap;

                            span.field-name-optional {
                                color: $grey;
                                font-size: 12px;
                                font-style: italic;
                                font-weight: 300;
                                letter-spacing: normal;
                                text-transform: none;
                            }
                        }
                    }

                    .input-wrapper {
                        margin-top: 0;
                    }
                }

                .add-state {
                    margin-top: 20px;
                }

                .county-edit {
                    .state-wrapper {
                        margin-top: 20px;
                    }

                    .toggle-wrapper {
                        width: 93%;
                        display: inline-block;
                        margin-top: 20px;

                        .footer {
                            top: 38px;
                        }
                    }

                    .icon-wrapper {
                        width: 5%;
                        display: inline-block;
                        margin-left: 2%;

                        &:hover {
                            cursor: pointer;
                        }

                        svg {
                            width: 80%;
                            height: 36px;
                            fill: $brand-purple;
                        }
                    }
                }
            }

            h4 + .org-setting.toggle .old-style {
                margin-top: 0;
            }

            .org-setting:not(.long) {
                .checkbox-container {
                    justify-content: flex-start;

                    .old-style {
                        width: auto;
                        margin-top: 0;

                        label {
                            top: 2px;
                            left: 5px;
                        }
                    }

                    .checkbox-new {
                        margin-left: 25px;
                    }
                }
            }

            .org-setting .text-area-wrapper {
                width: 76%;
                margin-left: 70px;

                textarea {
                    &:disabled {
                        color: $grey-very-light;
                    }

                    @extend .textarea;
                }
            }

            .org-setting {
                .expandable-toggles {
                    .lock-tooltip-wrapper {
                        left: -4px;
                    }

                    .lock-tooltip span {
                        width: 260px;
                        white-space: normal;
                    }
                }
            }

            .org-setting.input-field {
                @include media(small) {
                    .options {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .modal-dialog .options {
                        display: block;
                    }

                    .dropdown-options .options > span {
                        width: 50%;

                        @include media(large) {
                            width: 30%;
                        }
                    }
                }
            }

            .org-setting {
                margin: 1.5rem 0;

                &.new-cat {
                    margin-top: 6rem;
                }

                &.toggle {
                    margin: 0;
                }

                @include media(small) {
                    margin: 3rem 0;

                    &:last-of-type, &:nth-last-child(2) {
                        margin-top: 0;
                    }

                    &.new-cat {
                        margin-top: 3rem;
                    }
                }

                h4 {
                    font-size: 16px;
                }

                h4, .checkbox-wrapper.old-style label {
                    font-weight: 500;
                }

                h4.no-margin {
                    margin-bottom: 0;
                }

                &.input-field {
                    width: 100%;
                    margin-bottom: 1.5rem;

                    &.new-cat {
                        .checkbox-wrapper {
                            margin-top: 2rem;
                        }
                    }

                    &.toggle {
                        margin-bottom: 0;
                    }
                }

                &.input-field-half {
                    margin-right: 0;

                    > .org-availability {
                        margin: 0 0 25px;
                    }

                    .org-availability {
                        border: none;

                        .avail-table-tr, .avail-table-td {
                            background: none;
                            border: none;
                            color: $grey-warm;
                            padding: 0.25rem 0.65rem;
                            vertical-align: top;

                            tr {
                                height: 35px;
                            }

                            &.center {
                                text-align: center;
                            }

                            &.middle {
                                vertical-align: middle;
                            }

                            @media screen and (max-width: $break-small) {
                                padding: 0.25rem 0;

                                .input-wrapper {
                                    margin-top: 0;
                                }
                            }

                            .checkbox-wrapper {
                                text-align: start;
                            }
                        }

                        .avail-table-td:first-of-type {
                            width: 150px;
                        }

                        @media screen and (max-width: $break-small) {
                            .avail-table-td:last-of-type {
                                max-width: 180px;
                                overflow: scroll;
                            }
                        }

                        .hour-range, .hour-range-editable {
                            white-space: nowrap;
                        }

                        .checkbox-wrapper {
                            margin-right: 0;
                        }

                        .quarter {
                            width: 25%;
                        }

                        .closed-date {
                            width: 50%;
                        }

                        .closed-control {
                            width: 30px;
                            padding: 0.25rem 0;
                        }

                        .burn-column {
                            width: 30%;
                        }
                    }

                    .top-and-bottom {
                        &.border-lines {
                            border-top: 1px solid $purple-blue;
                            border-bottom: 1px solid $purple-blue;
                        }
                        padding: 15px 0;

                        .date-picker-wrapper {
                            display: inline-block;
                            margin: 0;
                            vertical-align: middle;
                        }

                        span {
                            vertical-align: middle;
                        }
                    }

                    .closed-row {
                        display: inline-block;
                    }
                }

                &.full-row {
                    width: 100%;
                    margin-right: 0;
                }

                .input-wrapper:not(.expandable-toggles &) {
                    input::placeholder {
                        color: $grey;
                    }

                    input:disabled::placeholder {
                        color: $grey-very-light;
                    }

                    input:disabled:-ms-input-placeholder {
                        color: $grey-very-light;
                    }

                    input:-ms-input-placeholder {
                        color: $grey;
                    }
                }

                p:not(.note):not(.validation) {
                    color: $grey-warm;
                    font-size: 12px;
                    margin: 5px 0;

                    &.bottom-margin {
                        margin: 5px 0 10px;
                    }

                    &.top-margin {
                        margin-top: 15px;
                    }

                    &.sub-option-title {
                        color: $grey-warm;
                        font-size: 12px;
                        font-weight: bold;
                        margin-top: 15px;
                    }
                }

                .auto-accept {
                    color: $grey-warm;
                    display: block;
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin-bottom: 5px;
                    vertical-align: middle;
                }

                .not-set-wrapper, .hour-range-wrapper {
                    min-width: 100px;
                    display: inline-block;
                    vertical-align: middle;

                    &.inline-flex {
                        display: inline-flex;
                        margin-left: -145px;

                        span {
                            width: 300px;
                            margin: 7px;
                        }
                    }

                    .not-set {
                        width: 100px;
                        min-width: 100px;
                    }

                    .two-column-input-wrapper {
                        margin-top: 0;
                    }
                }

                .hour-range-wrapper {
                    width: 60px;
                    min-width: 60px;

                    .input-wrapper {
                        min-width: 60px;
                        height: 24px;
                        border: 1px solid $faded-blue;
                        border-radius: 3px;
                        margin-top: 0;

                        input {
                            border: none;
                            font-size: 1.3rem;
                            padding-bottom: 1px;
                        }
                    }

                    .not-set {
                        width: 60px;
                        min-width: 60px;
                        height: 24px;
                    }
                }

                .org-timespan-wrapper {
                    width: 100px;
                    height: 34px;
                    display: inline-block;
                    margin: 0 1rem;
                    vertical-align: middle;

                    .input-wrapper {
                        min-width: 100px;
                        margin-top: 0.1rem;
                        vertical-align: middle;

                        .dropdown-options {
                            border-bottom-right-radius: 3px;
                            border-bottom-left-radius: 3px;
                        }

                        input {
                            height: 30px;
                        }
                    }

                    &.am-pm {
                        width: 50px;
                        height: 24px;
                        margin: 0 0 0 4px;

                        .input-wrapper {
                            min-width: 50px;
                            margin-top: 0;

                            input {
                                height: 22px;
                                font-size: 1.3rem;
                            }

                            .select-arrow {
                                right: 5px;
                                margin-top: 10px;
                            }
                        }
                    }
                }

                p.validation {
                    font-size: 12px;
                    margin: 5px 0 0 3px;
                }
            }

            .add-hours {
                width: 24px;
                height: 24px;
                margin-left: 7px;
                padding: 0;

                i {
                    font-size: 1.2rem;
                    margin-right: 0;
                    margin-left: 1px;
                }

                &.edit-hours {
                    width: 45px;
                }
            }

            .save-hours {
                width: 60px;
                height: 24px;
                display: block;
                margin-top: 7px;
                margin-left: -1px;
                padding: 0 5px;
            }

            .dispatch-org-section {
                .map-wrapper {
                    margin-bottom: 40px;
                }

                .org-setting {
                    // override the weird nth child logic above
                    margin-top: 1.5rem;
                }

                .input-field-half {
                    width: 100%;

                    @include media(mediumLarge) {
                        width: 48%;
                        margin-right: 2%;

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }

                .drop-pin-map-wrapper {
                    min-width: 300px;
                }

                .hours-form-wrapper {
                    margin-top: 7px;
                    white-space: nowrap;

                    .hour-range.hour-range-to {
                        margin: 0 7px;
                    }

                    .add-and-save {
                        display: inline-block;
                    }
                }

                .hour-range {
                    border: none;
                    color: $grey;
                    font-size: 1.3rem;

                    &.editable {
                        border-bottom: 1px solid black;
                        color: $greyish-brown;
                        padding-bottom: 5px;

                        &:hover {
                            color: $blueberry;
                            cursor: pointer;
                        }
                    }

                    &.hour-range-to {
                        margin: 0 10px;
                    }
                }
            }

            .input-field:first-of-type {
                &.toggle.long .input-wrapper {
                    margin: 3rem 0 2rem;
                }
            }

            .long .input-wrapper.checkbox-wrapper {
                margin: 0 0 2rem;
            }

            .check-toggle-label {
                font-size: 14px;
                margin-top: 0.5rem;
                margin-left: 1rem;
            }
        }

        .horizontal-line {
            position: absolute;
            left: 0;
            width: 100%;
            border-top: 1px solid $pinkish-grey;
            margin-top: -4rem;

            &.full-row {
                width: 100%;
            }

            @include media(small) {
                margin-top: -3rem;

                &.full-row {
                    width: 205%;
                }
            }
        }
    }

    .add-new  h3 {
        margin-left: 0;
    }

    .options {
        position: relative;
    }

    .locked .admin-portal-table .expandable-toggles.select-all-on-newline .options { padding-top: 10px; }
}

.warning-item-modal {
    text-align: center;

    &.D {
        button:first-of-type:hover {
            background-color: $error-color;
        }

        .fa-exclamation-circle {
            color: $error-color;
        }
    }

    &.working, &.done {
        button {
            display: none;
        }

        .status {
            color: $grey-dark;
            margin-top: 2rem;

            > span {
                display: flex;
            }

            .fa {
                width: 14px;
                height: 14px;
                background-size: 14px 14px;
                margin-right: 1rem;

                &.fa-check-circle {
                    color: $success-color;
                }
            }
        }
    }

    .fa-exclamation-circle {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }

    h2 {
        color: $grey-dark;
        font-size: 2.5rem;
        font-weight: normal;

        .bold {
            font-weight: bold;
            margin-top: 1rem;
        }

        > div {
            margin-top: 0.5rem;
        }
    }

    h3 {
        color: $grey;
        font-size: 2rem;
        font-weight: 500;
    }
}

#userForm {
    .dropdown-options {
        .input-wrapper {
            width: 100%;
        }
    }

    .footer {
        top: 5.7rem;
        right: 1rem;

        @include media(small) {
            top: 0;
            right: 0;
        }
    }
}

.admin-portal-table-wrapper {
    overflow-x: scroll;

    table {
        border-right: 0.1rem #bbb0dc solid;
        border-left: 0.1rem #bbb0dc solid;
    }
    -ms-overflow-style: none; // make sure there's no scrollbar in IE

    .admin-portal-table {
        tr td:first-child {
            border-left: none;
        }

        tr td:last-child {
            border-right: none;
        }
    }
}

.admin-portal-search {
    border-bottom: 1px solid $white-dark;
    margin-bottom: 30px;
    padding-bottom: 20px;

    @media screen and (max-width: $break-small) {
        flex-direction: column-reverse;
    }

    .input-wrapper {
        margin: 0;
    }

    > div.relative-position, form {
        width: 100%;
    }

    .clear-search {
        top: 0;
        height: 100%;
        margin-top: 0;
    }

    .checkboxes {
        margin-top: 1px;

        .checkbox-wrapper {
            margin-left: 10px;
        }

        .ie11 & {
            min-width: 220px;
            max-width: 220px;
        }

        @media screen and (max-width: $break-small) {
            margin-bottom: 10px;

            .checkbox-wrapper:first-of-type {
                margin-left: 0;
            }
        }
    }
}

.admin-links {
    margin-bottom: 10px;

    @include media(small) {
        margin-bottom: 15px;
    }

    .ie11 & {
        label::before {
            min-width: 150px;
        }
    }
}

.mode-rider {
    .rider-search {
        margin-bottom: 5px;
    }

    p {
        color: $grey-warm;
        font-size: 13px;
        margin-bottom: 20px;
    }
}

.add-edit-modal-form, .rider-form-prior-auth {
    -ms-overflow-style: none; // make sure there's no scrollbar in IE

    > p {
        margin-top: 10px;
    }

    &.invoice {
        .form-block.invalid {
            padding-bottom: 15px;
        }

        .form-block.flex {
            justify-content: space-between;
        }

        .input-wrapper {
            overflow: inherit;

            .validation {
                bottom: -6px;
            }
        }

        .validation {
            position: absolute;
        }
    }

    &.benefit-plan, &.rider-form-prior-auth, &.vehicles {
        .confirm-delete {
            position: relative;
            z-index: 6;
            width: 100%;
            height: 100%;
            background-color: $white;
            margin-left: 0;
        }

        .rider-form {
            .confirm-delete, &.confirm-delete {
                position: relative;
            }
        }

        .checkbox-wrapper {
            margin-left: 5px;
        }

        .per {
            color: $greyish-brown;
            font-size: 14px;
            margin: 10px 0 0 10px;
        }

        > .form-block:not(:first-of-type) {
            border-top: 2px solid $purple-blue;
            margin: 20px 0;

            &.add-button {
                padding-top: 20px;
            }
        }

        .new-style.checkbox-wrapper {
            max-height: 32px;
        }

        .custom-block {
            margin-top: 5px;

            .per {
                margin: 8px 5px 0 0;
            }

            .input-wrapper:last-of-type {
                margin-left: 5px;
            }

            .option::after {
                content: "s";
            }
        }
    }

    &.vehicles {
        h3 {
            margin-top: 0;
        }

        .form-block {
            padding: 10px 0;

            &:first-of-type {
                margin-top: 10px;
            }
        }

        .height-weight-inputs h3 {
            margin-top: 5px;
        }

        .checkbox-new {
            margin-top: 5px;
            margin-right: 10px;
        }

        .subsection-header {
            margin-top: 0;
            margin-bottom: 16px;
        }

        .one-half:not(:last-of-type) {
            margin-bottom: 12px;
        }

        > .form-block:not(:first-of-type) {
            border-top: 1px solid $purple-blue;
            margin: 0;
            padding: 15px 0;
        }
    }
}

.page-admin-portal tr.admin-expanded-row {
    &.locked {
        thead tr {
            background: $white-dark;
        }
    }

    td, thead, tbody, tr {
        border: 0;
        color: $grey-warm;
    }

    thead tr {
        pointer-events: none;
    }

    > td {
        border: $base-border;
        padding: 0;

        &:hover {
            background: inherit;
        }
    }

    table {
        border-top: 0 !important;
        margin: 0;
    }

    tr {
        background: none;
    }

    th {
        background: none;
        border: 0;
        color: $grey;
        font-size: 12px;
        padding-left: 1rem;
    }

    td.check-column {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    td.slim > span {
        min-height: 40px;
    }
}

.add-edit-modal {
    .content.expanded {
        min-width: 90%;
    }

    h4 {
        color: $grey-medium-dark;
        font-size: 16px;
        font-weight: 500;
    }

    .subsection-header {
        padding-top: 40px;

        @include media(small) {
            margin-top: 20px;
            padding-top: 0;
        }
    }

    .ask-for-default {
        padding-bottom: 0;

        @include media(small) {
            width: calc(50% - 43px);
            display: inline-block;
            vertical-align: top;

            &:last-of-type {
                margin-left: 20px;
            }

            p {
                color: $grey-warm;
                font-size: 12px;
                padding: 10px;
            }

            p.error {
                margin-top: 0;
            }
        }
    }

    .user-access {
        .select-arrow {
            pointer-events: none;
        }

        .expandable-toggles {
            .dropdown-options > .input-wrapper {
                border: 0;
            }
        }

        .checkbox-new {
            margin-right: 10px;
        }
    }

    .allowed-pages {
        margin-top: 18px;

        .new-style {
            height: 32px !important;
        }

        + .input-field {
            margin-top: 20px;
        }
    }

    .notifications-block {
        .flex-wrapper {
            margin-top: 20px;
        }
    }

    .drop-pin-map-wrapper {
        height: calc(95vh - 390px);
        margin-top: 20px;

        &.expanded {
            height: calc(95vh - 280px);
        }
    }

    .content {
        .new-style {
            .add-new {
                padding: 30px;

                .complete-check {
                    margin-top: 8px;
                }
            }
        }
    }

    .content.expanded > .new-style {
        .location-input-wrapper > div {
            margin-top: 0;
        }
    }

    .form-block {
        position: relative;

        > .checkbox-wrapper.old-style {
            position: absolute;
            top: 5px;
            right: -20px;
            width: 150px;

            @include media(small) {
                top: 0;
                right: 0;
            }
        }
    }
}

.sort-arrow {
    margin-right: -13px;
    margin-left: 5px;
}

.drag-and-drop-list {
    border-top: 1px solid $pinkish-grey;
    margin-top: 8px;
    overflow: auto;
    padding: 8px 0;

    .locked & {
        pointer-events: none;
    }

    .note {
        color: $grey;
        font-size: 1.3rem;
        margin: 15px 0 5px;
    }

    .no-data {
        color: $grey;
        font-style: italic;
        margin: 0;
    }
}

.ask-for-default {
    margin-left: 66px;

    h3 {
        margin-top: 10px;
    }
    padding-bottom: 20px;

    > p.note, p.note.error {
        margin: 10px 0;
    }

    button {
        margin: 10px 0 5px;
    }
}

.draggable-item {
    position: relative;
    z-index: 1;
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0;
    color: $greyish-brown;
    font-size: 14px;
    margin: 0 4px;
    padding: 8px 11px;
    user-select: none;

    transition: 0.2s ease-in-out box-shadow, 0.2s ease-in-out z-index;

    &:hover, &.dragging {
        z-index: 200;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    &.dragging {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .reorder {
        position: absolute;
        right: 5px;
        background-color: $white;
        color: #b5b5b5;

        @extend %vertical-align;

        .locked & {
            display: none;
        }
    }

    &.disabled {
        opacity: 0.6;
        padding: 4px 11px;
        pointer-events: none;
    }

    &.no-drag:hover {
        box-shadow: none;
    }
}

.driver-photo-container {
    @include nice-easing-animation;
    border: 2px dashed $faded-blue;
    overflow: hidden;

    &.has-photo {
        background-position: center;
        background-size: cover;
        border: 1px solid $faded-blue;

        .photo-placeholder {
            background-color: rgba($white, 0.75);
            opacity: 0;
        }

        &:hover .photo-placeholder {
            opacity: 1;
        }
    }

    &:hover {
        border-color: $faded-blue-hover;
        color: $brand-purple-dark;

        svg {
            fill: $brand-purple-dark;
        }
    }

    .file-drop-dragging-over-target & {
        background-color: rgba(120, 99, 191, 0.1);
        border-color: $faded-blue-hover;
        color: $brand-purple-dark;

        svg {
            fill: $brand-purple-dark;
        }
    }
}

.driver-photo-container, .file-drop-target, .photo-placeholder, .photo-placeholder label {
    width: 180px;
    height: 180px;
    border-radius: 3px;
    cursor: pointer;
    flex-direction: column;

    @include flex-center;

    &.uploading {
        pointer-events: none;
    }

    &::before {
        content: none;
    }
}

.photo-placeholder {
    text-align: center;

    svg {
        width: 45px;
        height: 45px;
        margin-left: -5px;
        fill: $brand-purple-light;
    }

    svg, i {
        margin: 15px 0 10px;
    }

    h2 {
        max-width: 100px;
        font-size: 14px;
        font-weight: 500;
    }

    i.fa.loading {
        width: 32px;
        height: 32px;
        background-size: 30px auto;
    }
}

.italics {
    font-style: italic;
    font-weight: 500;
}
