.page-analytics {
    .download-requested {
        margin: -25px 0 7px;
    }

    .input-wrapper:nth-child(4) {
        @include media(large) {
            width: 28%;

            .select-label {
                display: none;
            }

            #timezone-selector {
                padding-left: 10px;
            }
        }
    }

    .analytic-chart {
        position: relative;
    }

    .messages {
        position: absolute;
        z-index: 2000;
        width: 100%;
        display: flex;
        align-items: flex-start;
        font-size: 1.4rem;
        margin-top: 2rem;
        text-align: right;

        .fa {
            font-size: 1.4rem;
        }

        a {
            margin: 0;
        }
    }

    .incomplete-rides {
        position: absolute;
        width: 100%;
        margin-top: 3rem;
        text-align: right;
    }

    .chart-type {
        display: flex;
        margin-top: 2rem;
        margin-bottom: -4.6rem;

        > div {
            z-index: 1500;
            width: 3rem;
            height: 2.5rem;
            background-color: $brand-purple;
            border-radius: 5px;
            color: $white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            margin-left: 1rem;
            opacity: 0.5;

            transition: 0.2s ease-in-out opacity;

            &:hover {
                opacity: 0.6;
            }

            &.active {
                opacity: 1;
                pointer-events: none;
            }
        }
    }

    .search-container {
        @include media(small) {
            margin-top: 2rem;
        }

        .collapse {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            justify-content: center;
            font-size: 24px;

            @include media(large) {
                right: 7%;
            }

            &.hide-search {
                display: none;
            }

            &.show-search {
                right: 0;
                border: 1px solid rgba(225, 225, 225, 0.4);
                border-top: 0;
                border-right: 0;
                display: flex;
                margin-top: -47px;

                transition: 0.4s ease-in-out margin-top;

                .search-previous {
                    height: 47px;
                    background-color: $brand-purple;
                    color: rgba(225, 225, 225, 0.8);
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding: 1.1rem 0 1.1rem 1rem;

                    .fa {
                        font-size: 1.8rem;

                        &:hover {
                            @include base-animation;
                            color: $white;

                            transform: translateX(-3px);
                        }
                    }
                }

                .search-date {
                    height: 47px;
                    background-color: $brand-purple;
                    color: $white;
                    margin: 0;
                    padding: 1.6rem 1rem;
                }

                .search-icon {
                    height: 47px;
                    background-color: $purple-light;
                    color: $white;
                    font-size: 25px;
                    padding: 1rem;
                }
            }
        }

        &.expanded {
            .show-search {
                margin-top: -70px !important;
            }
        }
    }

    .search-block {
        width: 100%;
        padding: 20px;
    }

    .sticky {
        .collapse {
            min-height: 0;
            display: flex !important;

            &.show-search {
                z-index: 2000;
                margin-top: 0;
            }

            &.hide-search {
                z-index: 1000;
                color: $grey;
                margin: 10px;
            }
        }

        .search-block {
            width: 100%;
            max-height: 100vh;
            background-color: $white-dark;
            border-bottom: 1px solid $grey-warm-darker;
            margin: 0 auto;

            transition: 0.4s ease-in-out max-height, 0.4s ease-in-out padding-top, 0.4s ease-in-out padding-bottom;

            @include media(small) {
                width: calc(100% - 75px);
                margin-left: 75px;
                padding-right: 5%;
                padding-left: 5%;
            }
            @include media(large) {
                padding-right: 10%;
                padding-left: 10%;
            }
            @include media(xlarge) {
                padding-right: 20%;
                padding-left: 20%;
            }

            .search-tag-wrapper {
                padding: 0;

                .search-tag {
                    transition: 0.4s ease-in-out padding;
                }
            }

            &.collapsed {
                min-height: 0;
                max-height: 0;
                overflow: hidden;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    .analytics-table {
        padding-top: 50px;

        .fa.sort {
            position: absolute;
            width: 2rem;
            font-size: 1.2rem;

            &.fa-sort-asc {
                padding-top: 0.5rem;
            }
        }

        .analytics-table-wrapper {
            overflow-x: scroll;
        }

        &.tiny {
            padding-top: 0;

            table {
                width: 100%;

                @include media(large) {
                    width: 100%;
                }
            }

            .analytics-table-wrapper {
                max-height: 202px;
                overflow: auto;
            }
        }

        .location-summary .desc {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }

    .modal-dialog.options-array {
        .option-block {
            width: 100%;

            @include media(medium) {
                width: 48%;
            }

            div .input-wrapper {
                width: auto;
            }
        }

        .content .scrollable {
            overflow-y: scroll;
        }
    }

    .analytics-table .content {
        width: 80%;
        overflow-y: scroll;

        @include media(large) {
            width: 65%;
        }

        p {
            margin-bottom: 2rem;
        }

        h3 {
            a {
                margin: 0;
            }
            margin-bottom: 1rem;

            .input-wrapper {
                margin: 0;
            }

            input.check-toggle {
                background-color: $brand-purple;
            }

            label.check-toggle-label {
                color: $brand-purple;
            }
        }
    }

    .table-options {
        justify-content: space-between;
    }

    .table-options .checkbox-new {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .dropdown-wrapper {
        z-index: 900;

        @media screen and (max-width: $break-small) {
            .group-dropdown span:first-of-type {
                display: none;
            }
        }
    }

    .analytics-warning {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
        padding-bottom: 40px;

        .fa {
            margin-right: 1rem;
        }
    }

    .analytic-search-results {
        li {
            display: flex;
            align-items: center;

            a {
                width: 100%;
                margin: 0;
                padding-left: 5rem;

                &.short-list {
                    min-height: 54px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .fa, svg {
            font-size: 2rem;
            margin-right: 0.9rem;
            margin-left: -3.5rem;
        }

        svg {
            width: 25.7px;
            height: 22px;
            fill: $brand-purple-dark;
        }
    }

    .view-options {
        align-items: center;
        justify-content: center;

        @include media(small) {
            justify-content: flex-start;
        }
        @include media(medium) {
            width: 25%;
        }
    }

    .action-buttons {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.8em;
        margin: 1rem 0;

        @include media(small) {
            flex-direction: row;
        }
        @include media(mediumLarge) {
            flex-wrap: nowrap;
            margin: 0;
        }

        button {
            width: 156px;
            background-color: $grey;
            margin: 0.5rem 0;

            @include media(small) {
                margin: 0 1rem;
            }

            &:hover {
                background: $grey-dark;
            }
        }
    }

    .flex-item, .row {
        display: flex;
        align-items: top;

        svg {
            width: 18px;
            height: 18px;
            margin-right: 1rem;
            fill: $grey-warm-darker;
        }
    }

    .row {
        margin-top: 2.5rem;

        a {
            margin: 0;
        }
    }

    .detail-row p {
        color: $grey-warm;
        font-size: 1.414rem;
        margin: 0;
    }

    .cols {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        @include media(small) {
            flex-direction: row;
            justify-content: space-between;
        }

        .flex-item {
            margin-top: 1rem;
        }

        h4 {
            margin-bottom: 0;

            &.section-header:last-of-type {
                margin-top: 1rem;
            }

            &.section-header:first-of-type {
                margin-top: 0;
            }

            &.section-header {
                margin-bottom: 1rem;
            }
        }

        .col {
            margin: 10px 0;

            @include media(small) {
                margin: 0 10px;
            }

            .col-section {
                margin-top: 20px;
            }
        }

        .col .ride-info {
            height: auto;
            display: block;
            align-items: center;
            margin: 0.5rem 0;

            &:first-of-type {
                margin-top: 0;
            }

            > p, h4 {
                display: inline-block;
            }
        }

        .col .rating-stars {
            @include media(small) {
                display: flex;
            }
            margin: 0 0 0.3rem;

            svg {
                width: 18px;
                height: 18px;
                fill: $purple-light;
            }
        }

        .col .rating-detail {
            margin: 0 0 2px;

            h4 {
                color: $grey-warm;
            }
        }

        .ride-status {
            color: $grey-warm;
            display: flex;
            align-items: center;

            > div {
                display: flex;
                align-items: center;
            }

            .fa-check-circle, .fa-car {
                color: $success-color;
            }

            .fa-ban {
                color: $error-color;
            }
        }
    }

    .table-key {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 1.3rem;

        > div {
            display: flex;

            @include media(mediumLarge) {
                flex-direction: column;
            }
        }

        > div > div {
            display: flex;
        }

        .color {
            width: 5px;
            height: 1.2rem;
            background: $grey-warm-darker;
            margin: 0 1rem 0 1.5rem;

            &.failed {
                background: $error-color;
            }

            &.completed {
                background: $success-color;
            }
        }

        @include media(mediumLarge) {
            width: 25%;
        }
    }

    table {
        thead > tr {
            background: none;
        }
        position: relative;
        width: 100%;
        border-collapse: separate;
        font-size: 1.2rem;
        margin-top: 0;

        @include media(large) {
            font-size: 1.3rem;
        }

        .hidden {
            display: none;
        }

        .cost-label {
            position: absolute;
            top: 0;
            right: 35px;
            z-index: 1000;
            width: 140px;
            color: $white;
            cursor: default;
            font-weight: bold;
            padding: 10px 5px 5px;
            text-align: center;

            @include media(small) {
                right: 10%;
                width: 140px;
            }
            @include media(medium) {
                right: 47px;
                width: 230px;
                border-bottom: 1px solid $white;
            }
        }

        .all-the-details h4, .all-the-details p {
            font-size: 11px;
        }

        .summary-row {
            td:nth-child(2) {
                border-left: 5px solid $grey-warm-darker;
            }

            &.completed {
                td:nth-child(2) {
                    border-left-color: $success-color;
                }
            }

            &.failed td:nth-child(2) {
                border-left-color: $error-color;
            }

            &.clickable {
                cursor: pointer;

                &:hover td.checked {
                    background-color: darken($white-dark, 5%);
                }
            }

            &.no-events {
                pointer-events: none;
            }
        }

        .fa-times {
            color: $error-color;
        }

        .fa-check {
            color: $success-color;
        }

        .detail-row td {
            height: 17px;
            background-color: $white;
            padding: 0;

            h3 {
                font-size: 1.7rem;
                margin: 0 3rem 2rem 0;

                a {
                    margin: 0;
                }

                .fa {
                    margin-top: -0.5rem;
                    margin-left: 1rem;
                }

                .ride-status {
                    color: $grey-warm;
                    font-size: 1.3rem;

                    .fa {
                        font-size: 1rem;
                        margin: 0;
                    }
                }
            }

            > div {
                max-height: 0;
                border: 1px solid $white;
                margin-bottom: 1rem;
                overflow: hidden;
                padding: 0.25rem 1%;
                text-align: left;

                transition: 0.5s max-height, border ease;
            }

            &.expanded {
                > div {
                    max-height: none;
                    border: 1px solid $faded-blue;
                    border-top: 0;

                    @include media(small) {
                        max-height: 400px;
                    }
                }
            }
        }

        .num {
            width: 50px;
            background: $white;
            color: $brand-purple-dark;
            font-size: 14px;

            &.info {
                width: 40px;
                color: $grey;
                cursor: pointer;
                padding-right: 0;

                &.no-events {
                    pointer-events: none;
                }

                &:hover {
                    color: $brand-purple;
                }

                .fa-external-link {
                    color: $grey-dark;
                }
            }
        }

        th {
            height: 62px;
            background-color: $brand-purple;
            border: 0;
            font-size: 13px;
            padding: 15px 5px;
            text-align: center;

            &.clickable {
                cursor: pointer;
            }

            &.cost {
                width: 82px;
                font-size: 1.3rem;
                padding: 40px 5px 10px;
            }

            &.duration {
                width: 110px;
            }
        }

        td {
            background-color: $white-dark;
            border: 0;
            color: $grey-dark;
            font-size: 12px;
            padding: 10px 5px;
            text-align: center;

            transition: 0.2s $sweetEasing background-color;

            @include media(xlarge) {
                padding: 15px 10px;
            }
        }
    }

    a {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 10px;

        &.disabled {
            color: $grey;
            pointer-events: none;
        }

        .fa {
            font-size: 0.6em;
        }
    }

    .pagination {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        margin-bottom: 3rem;

        span {
            margin-right: 10px;
        }

        > div {
            display: flex;
        }

        @include media(mediumLarge) {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    .pages {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        margin-top: 15px;

        div {
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            a {
                min-width: 30px;
                border-radius: 2px;
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0.5rem 1rem;

                &.disabled {
                    background-color: $brand-purple;
                    color: $white;
                }
            }

            a:first-of-type {
                position: absolute;
                left: 0;
                background-color: transparent;
                border: 0;
                margin-right: 3rem;

                &.disabled {
                    color: inherit;
                }
            }

            a.ellipsis {
                color: $grey;
                align-items: flex-end;
                pointer-events: none;
            }

            a:last-of-type {
                position: absolute;
                right: 0;
                background-color: transparent;
                border: 0;
                margin-left: 3rem;

                &.disabled {
                    color: inherit;
                }
            }
        }
    }

    .toggle-advanced {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        font-size: 0.9em;
        margin-top: 5px;
        margin-left: 85%;

        p {
            margin: 0 0.75rem 0 0;
        }

        i {
            font-size: 1.3em;
        }
    }

    .advanced-search {
        background-color: $white;
        margin: 1rem 0;
        padding: 15px 20px;

        h3 {
            font-size: 0.9em;
            margin-bottom: 1rem;
        }

        .location-filter-desc {
            font-size: 1.3rem;
            margin-bottom: 0;
        }

        .advanced-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 1rem;

            @include media(small) {
                flex-wrap: nowrap;
                justify-content: space-around;
            }

            .advanced-group {
                width: 100%;
                height: auto;
                border-right: 0;
                margin-bottom: 20px;
                padding-right: 10px;

                @include media(small) {
                    width: 25%;
                    border-right: 1px dotted #c4c4c4;
                    margin-bottom: 0;
                }

                .wrapper {
                    display: flex;
                    flex-wrap: wrap;

                    .block {
                        display: flex;
                    }
                }

                .advanced-inputs {
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    p {
                        font-weight: 500;
                        margin-bottom: 0;
                    }

                    label {
                        font-weight: 500;
                    }

                    .input-wrapper {
                        width: auto;

                        .input {
                            font-weight: 500;
                        }
                    }
                }

                i {
                    width: auto;
                    color: $grey-very-light;
                    padding: 8px 5px 0 0;
                }

                .check-toggle {
                    background-color: $grey-very-light;
                }
            }

            .advanced-group:nth-child(1) {
                width: 100%;
                padding-right: 20px;

                @include media(small) {
                    width: 43%;
                }

                .advanced-inputs {
                    width: 100%;
                }

                .input-wrapper {
                    width: 100%;
                }

                .input-wrapper:nth-child(1) {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                .relative-position {
                    width: 100%;
                }
            }

            .advanced-group:nth-child(2) {
                .advanced-inputs {
                    width: 170px;
                }

                .input-wrapper {
                    width: 160px;
                    color: $white-dark;
                    margin: 0 4px;
                }
            }

            .advanced-group:nth-child(3) {
                .advanced-inputs {
                    max-height: 100px;
                    flex-direction: column;
                    align-items: flex-start;

                    @include media(small) {
                        max-height: 200px;
                    }
                    @include media(medium) {
                        max-height: 125px;
                    }
                }

                i {
                    width: 15px;
                }

                .input-wrapper {
                    width: auto;
                    color: $white-dark;
                    margin: 0 5px;
                }
            }
        }

        .advanced-group:last-of-type {
            border: 0;
        }

        .advanced-footer {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
            font-size: 12px;

            p {
                cursor: pointer;
            }

            button {
                margin-left: 10px;
            }
        }

        .checkbox-wrapper {
            margin-top: 0;
        }
    }

    .search-tag-wrapper {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        transition: 1s all ease;
    }

    .legend-container {
        width: 70%;
        color: $grey-dark;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.6em;
        margin: 0 auto;
        margin-top: -4rem;

        .legend-item {
            z-index: 1000;
            cursor: default;
            display: flex;
            align-items: center;
            margin: 5px 20px;

            transition: 0.2s opacity ease-in-out;

            &.fade-out {
                opacity: 0.3;
            }
        }

        .legend-color {
            width: 20px;
            height: 2px;
            margin-right: 5px;
        }
    }

    .search-tag {
        background-color: $brand-purple;
        border-radius: 3px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        color: $white;
        font-size: 1.2rem;
        margin: 0.5rem 1rem 0 0;
        padding: 0.5rem;

        @include media(small) {
            font-size: 1.4rem;
            padding: 1rem 1.5rem;
        }

        .fa-times-circle {
            color: $white;
            opacity: 0.4;
        }

        &.advanced {
            background-color: $purple-light;

            .fa-times-circle {
                color: $white;
                opacity: 0.4;
            }
        }

        &.fixed {
            pointer-events: none;
        }

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        .fa {
            cursor: pointer;
            margin-left: 1rem;

            transition: 0.5s opacity ease;

            &:hover {
                opacity: 0.8;
            }
        }

        .tag-icon {
            font-size: 0.9em;
            margin: 0 0.8rem 0 0;
        }
    }

    .tag-search {
        position: relative;
        width: 200%;

        @include media(large) {
            width: 100%;
        }

        .fa-spinner {
            position: absolute;
            top: 11px;
            right: 1.5rem;
            background-color: $white;
        }

        .input-wrapper label {
            .label-content {
                color: $grey-warm-darker;
                font-size: 12px;
            }

            .icon-form {
                min-width: 32px;
                border-right-color: #843a82;

                svg {
                    width: 18px;
                    height: 18px;
                    fill: rgb(131, 43, 123);
                }
            }
        }
    }

    .page-section {
        position: relative;
        min-height: 700px;
        background: $white;
        margin-bottom: 25px;
        padding: 50px 25px;

        &.billing {
            min-height: auto;
            padding: 40px 25px;

            @include media(large) {
                padding: 40px 50px;
            }
        }

        @include media(large) {
            margin-bottom: 30px;
            padding: 40px 50px;
        }
    }

    .overview-stats {
        position: relative;
        height: 125px;
        background: $white;
        font-size: 1.5rem;
        margin: 16px 20px 25px;
        padding: 10px;

        transition: 0.3s height ease-in-out;

        @include media(small) {
            padding: 25px 25px 20px;
        }

        &.loading {
            h3 {
                opacity: 0.5;
                filter: grayscale(50%);
            }
        }

        .footnote {
            right: 0;
            bottom: -25px;
        }

        .total-breakdown {
            width: calc(100% - 2rem);
            display: flex;
            justify-content: space-around;
            font-size: 1.2rem;
            margin: 0.5rem;

            .fa {
                margin-right: 0.5rem;

                &.fa-check-circle {
                    color: $success-color;
                }

                &.fa-times-circle {
                    color: $error-color;
                }

                &.fa-clock-o {
                    color: $grey;
                }
            }
        }

        &.expanded {
            height: 230px;
        }

        .expand-summary {
            .fa {
                color: $grey;
                font-size: 1.5rem;
                margin-top: -20px;

                transition: 0.2s color ease-in-out;

                &.fa-caret-up {
                    color: $brand-purple;
                    font-size: 9rem;
                }
            }

            > div:first-of-type {
                height: 40px;
                cursor: pointer;
                margin-bottom: -40px;
            }

            > div:nth-child(2) {
                position: absolute;
                left: 0;
                width: 90%;
                max-height: 100px;
                background-color: $brand-purple;
                border-radius: 3px;
                margin: 3rem 5% 0;
                padding: 1.5rem 0;

                transition: 0.3s all ease-out;

                h4 {
                    margin-bottom: 0.5rem;

                    @include media(medium) {
                        font-size: 1.9rem;
                    }
                }

                .expanded-footnote {
                    overflow: hidden;

                    transition: 0.3s all ease-out;
                }

                li {
                    @include media(small) {
                        width: 15%;
                    }
                    max-height: 100px;
                    background-color: $white-dark;
                    border: 1px dotted $grey-very-light;
                    color: $grey-dark;
                    padding: 0.5rem;

                    h4 {
                        color: $brand-purple;
                    }
                }

                li:nth-child(2) {
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                li:nth-child(4) {
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

                li:first-of-type, li:last-of-type {
                    width: 25%;
                    background-color: transparent;
                    border: 0;
                    color: $white-dark;
                    margin-bottom: -1rem;

                    h4 {
                        color: $brand-accent-color;
                    }
                }

                .expanded-footnote {
                    color: $white;
                    font-size: 1.2rem;
                    margin-top: 0.5rem;
                    margin-bottom: 0;
                }

                &.hidden {
                    max-height: 0;
                    padding: 0;

                    li, .expanded-footnote {
                        max-height: 0;
                        opacity: 0;
                    }
                }

                ul {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        @include media(large) {
            padding: 20px 15px;
        }
    }

    .page-block {
        margin-bottom: 50px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    h2 {
        font-size: 2.5rem;

        @include media(small) {
            font-size: 3.5rem;
        }
    }

    .analytic-graph-options {
        display: flex;
        justify-content: space-between;
        margin-bottom: -1.5rem;

        h2 {
            margin: 0;
        }

        > div {
            @include media(small) {
                display: flex;
                align-items: center;
            }
        }

        .group-dropdown {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0;

            span {
                margin-right: 1rem;
            }
        }

        .analytic-group {
            width: 175px;
        }
    }

    .overview-stats-wrapper {
        height: auto;
        flex-wrap: nowrap;
        margin-top: 1.3rem;

        transition: 0.2s all ease-in-out;

        &.flex-wrapper {
            @include flex-between;
        }

        .analytic-overview-stats {
            width: 25%;
            border-right: $dotted-border;
            padding: 0.5rem;
            text-align: center;

            &.expandable {
                cursor: pointer;

                &:hover {
                    .fa-caret-down {
                        color: $grey-dark;
                    }
                }
            }

            &:last-of-type {
                border-right: none;
            }

            h2,
            h3 { margin: 0; }

            h2 { color: $brand-grape; }

            h3 {
                font-size: 18px;

                @include media(small) {
                    font-size: 2rem;
                }
                @include media(medium) {
                    font-size: 2.5rem;
                }
            }

            .analytic-label {
                font-size: 14px;

                @include media(samll) {
                    font-size: 1.3rem;
                }
                @include media(medium) {
                    font-size: 1.4rem;
                }
            }

            svg {
                position: relative;
                top: 2px;
                left: 6px;
                width: 35px;
                height: 35px;
                display: inline-block;
                fill: $brand-grape;
            }
        }

        .stats-wrapper {
            h2 { display: inline-block; }
        }
    }

    .no-data {
        color: $grey;
        font-size: 3rem;
        font-weight: 400;
        margin-top: 20px;
        text-align: center;
    }

    .charts-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .footnote {
            bottom: 0;
            left: 30px;
            border-top: 1px solid $white-dark;
            margin: 0;
            padding: 0.5rem 1rem 20px 0;
        }

        .analytic-chart {
            width: 100%;
            border-bottom: $dotted-border;
            flex-grow: 0;
            padding: 30px 0;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }

    .rating-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .star-rating {
        display: flex;

        div {
            position: relative;
            width: 20%;
            width: '100%';
            height: 0;
            margin: 1rem 0;
            padding: 0 0 50px;
        }

        svg {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

    .avg-rate {
        margin: 0 auto;

        p, h4 {
            font-size: 2.5rem;
            margin: 0;
            text-align: center;
        }
    }

    .rating-dist {
        height: auto;
        padding-bottom: 2rem;

        > div {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            > g {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                > .pie-wrapper {
                    width: 33%;
                    min-width: 250px;
                    height: 320px;
                    display: inline-block;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 2rem;
                    padding: 0 0 50px;

                    text {
                        font-family: inherit !important;
                    }

                    > text {
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        display: block;
                        text-align: center;

                        &:first-of-type {
                            bottom: 35px;
                        }

                        &:nth-child(3) {
                            bottom: 16px;
                        }
                    }

                    svg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100% !important;
                    }

                    svg text {
                        tspan {
                            font-size: 2.2rem !important;
                            fill: $grey !important;
                        }

                        tspan:first-of-type {
                            font-size: 5rem !important;
                            font-weight: bold !important;
                            fill: $brand-purple !important;
                        }

                        tspan:nth-child(3) {
                            font-size: 2rem !important;
                            fill: $brand-purple !important;
                        }
                    }

                    > svg path {
                        transition: 0.4s ease-in-out fill-opacity;
                    }
                }
            }
        }
    }

    .legend {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 2rem;

        @include media(small) {
            flex-direction: row;
        }

        span {
            display: none;
            font-size: 1.3rem;
            margin-right: 1.5rem;

            @include media(small) {
                display: inline;
            }
        }

        .legend-box {
            color: $black;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            margin: 2px;
            padding: 2px 5px;

            transition: 0.2s ease-in-out opacity;

            @include media(small) {
                width: 70px;
                margin: 0 2px;
                padding: 2px 9px;
            }

            &:nth-child(5), &:nth-child(6), &:nth-child(7) {
                color: $white-dark;
            }
        }
    }

    .rating-detail-wrapper {
        width: 100%;
        margin-top: 40px;

        .rating-detail-header {
            background-color: $brand-purple;
            color: $white;
            display: flex;
            font-size: 1.2rem;
            padding: 10px 20px;

            div:nth-child(1) {
                width: 13%;
            }

            div:nth-child(2) {
                width: 18%;
            }

            div:nth-child(3) {
                width: 63%;
            }

            .sorting-option {
                display: flex;
            }

            .sorting-option:hover {
                cursor: pointer;
            }

            .fa-sort-desc {
                margin-left: 5px;
            }
        }

        .rating-detail {
            width: 100%;
            border-bottom: 0.5px $grey-warm-darker dotted;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px 20px;

            p {
                font-size: 1.5rem;
                font-weight: 500;
                margin-bottom: 0;
            }
        }

        .stars {
            width: 13%;
            display: flex;

            svg {
                width: 18px;
                height: 18px;
                fill: $grey-warm-darker;
            }

            .rating-1 {
                svg { fill: #ffe970; }
            }

            .rating-2 {
                svg { fill: #87d4ea; }
            }

            .rating-3 {
                svg { fill: #0089cf; }
            }

            .rating-4 {
                svg { fill: #4f3a8e; }
            }

            .rating-5 {
                svg { fill: #6e175f; }
            }
        }

        .option {
            width: 18%;

            p {
                color: $grey-dark;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        .text {
            width: 63%;
            display: flex;

            .fa-quote-left,
            .fa-quote-right {
                color: $grey;
                font-size: 7px;
                margin: 0 3px;
            }
        }
    }

    .overall-stats {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 2.5rem;
        margin-top: 6rem;
        margin-bottom: -6rem;
        text-align: center;

        span:first-of-type {
            width: 60%;
            text-align: right;
        }

        span:last-of-type {
            width: 38%;
            text-align: left;
        }
    }

    .bold {
        color: $brand-purple;
        font-weight: bold;
    }

    .horizontal-bar-chart {
        text {
            pointer-events: none;
        }

        path {
            transition: 0.3s ease-in-out fill;
        }
    }

    @include media(medium) {
        .rating-dist {
            width: 80%;
        }
    }

    .analytics-map {
        .options {
            flex-wrap: nowrap;
            justify-content: flex-end;

            .input-wrapper {
                width: auto;
                margin: -1.3rem 4rem 0 0;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        .circulation-loader {
            z-index: 1000;
            height: 75vh;
            background-color: $white;
            margin-top: -1.3rem;
            padding-bottom: 30vh;
        }

        > div > .input-wrapper {
            margin-top: 1.5rem;
        }
    }

    .analytics-map-wrapper {
        height: 70vh;

        .map-canvas {
            height: 100%;
        }

        label::before {
            content: none;
        }

        #analytics-map-search {
            width: 300px;
            background-color: $white;
            border: 1px solid transparent;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            margin: 1rem;
            opacity: 0.9;
            padding: 1rem;
            text-overflow: ellipsis;

            transition: 0.2s border-color ease-in-out;

            &:focus {
                border-color: $brand-accent-color;
            }
        }
    }

    .charts-wrapper .line-chart {
        .line-chart-container {
            position: relative;
        }

        .no-data {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 90%;
            color: $white-dark;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
        }
        padding-bottom: 15px;

        &.day, &.month, &.year {
            path {
                transition: 0.1s ease-in-out stroke;
            }
        }

        svg {
            margin-top: 0.8rem;
        }

        > div > div {
            &.dropdown-wrapper {
                margin-top: 0;
            }

            &.legend-container {
                margin-top: 0;
            }

            &.tiny {
                margin-top: 0;
            }
        }
    }
}

// for little table in chart view
.table-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    h4 {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}

.expandable-table-container {
    max-height: 0;
    margin-top: 1rem;
    overflow-y: hidden;

    transition: 0.2s ease-out max-height;

    &.expanded {
        max-height: 202px;
        margin-bottom: 1.5rem;

        .pages {
            position: absolute;
            width: 100%;
            margin-top: 0;

            p {
                display: none;
            }

            div a {
                display: none;

                &:nth-child(1) {
                    display: flex;
                }

                &:last-of-type {
                    display: flex;
                }
            }
        }
    }
}

.tiny {
    width: 100%;

    .action-buttons, .pagination, .detail-row {
        display: none;
    }

    table {
        width: 100%;
        max-height: 165px;
        margin: 0;
        overflow-y: scroll;

        .cost-label {
            right: 15px;
            width: 225px;
            font-size: 1.2rem;
            padding-bottom: 7px;
        }

        th, td {
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
            font-size: 1.2rem;
            padding: 5px;
        }

        th.cost {
            font-size: 1.2rem;
        }

        .num {
            display: none;
        }

        tr td {
            cursor: default;

            transition: 0.1s ease-out background-color;
        }

        tr:hover td, tr.hovered td {
            background-color: $grey-warm-darker;
        }
    }
}

#analyticsTableAllData {
    display: none;
}

.analytics-search.form-row {
    background-color: transparent;
    flex-wrap: wrap;
    padding: 10px 0;

    .DateRangePickerInput {
        background-color: $white;
    }

    @include media(small) {
        > div:first-of-type {
            margin-bottom: 10px;

            @include media(medium) {
                margin-bottom: 0;
            }
        }

        .input-wrapper:nth-child(2), .input-wrapper:nth-child(3) {
            width: calc(40% - 10px);
            margin-right: 10px;

            @include media(medium) {
                max-width: 150px;
            }
        }

        .input-wrapper:nth-child(4) {
            width: 20%;
            min-width: 80px;

            @include media(medium) {
                width: 100px;
            }
        }
    }
    @include media(medium) {
        flex-wrap: nowrap;

        > div:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}

// for demo only
.demo .analytics-search.form-row {
    @include media(small) {
        .input-wrapper:nth-child(2), .input-wrapper:nth-child(3) {
            width: 50%;
        }
    }
}

.expand-table {
    .fa {
        margin-right: 0.5rem;
    }
}

.notifications-time {
    display: block;
    font-size: 13px;
    font-weight: 400;
}

.info-hover {
    top: 11px;
    left: 18px;
    display: flex;
    align-items: center;

    h3 {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1.1px;
        margin: 0;
        text-transform: uppercase;
    }
}

@media screen and (max-width: $break-small) {
    .page-analytics .overview-stats {
        height: auto;

        transition: none !important;

        &.expanded {
            height: auto;
        }
    }

    .overview-stats-wrapper.flex-wrapper {
        flex-direction: column;
        margin-top: 20px;

        .analytic-overview-stats {
            width: 100%;
            border-top: $dotted-border;
            border-right: 0;
            padding: 15px 0;

            &.expandable {
                padding-bottom: 20px;
            }

            &:first-of-type {
                border-top: 0;
            }

            .total-breakdown {
                position: relative;
            }

            .expand-summary > div:nth-child(2) {
                width: 100%;
                font-size: 10px;
                margin: 3rem 0 0;

                transition: none;

                h4 {
                    font-size: 12px;
                }

                &.expanded {
                    position: relative;
                }
            }
        }
    }
}

.info-pop-up {
    position: relative;

    p {
        bottom: 25px;
        left: -90px;
        width: 200px;
        background-color: $grey-dark;
        border-radius: 8px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        color: $grey-warm;
        color: $white;
        font-size: 11px;
        line-height: 13px;
        margin: 0;
        opacity: 0;
        padding: 8px;
        pointer-events: none;

        @include nice-easing-animation;

        &::after {
            position: absolute;
            bottom: -7px;
            left: calc(50% - 7px);
            content: '';

            @include triangle(15px, $grey-dark, down);
        }

        @include media(medium) {
            bottom: -7px;
            left: 22px;
            width: 330px;
            margin-left: 5px;

            &::after {
                @include triangle(15px, $grey-dark, left);
                bottom: 10px;
                left: -15px;
            }
        }
        @include media(large) {
            width: 486px;
        }
    }

    .fa {
        font-size: 13px;
        margin: 0 6px;

        &:hover + p {
            opacity: 0.8;
        }
    }
}

.download {
    position: relative;
    display: inline-block;

    &.loading button {
        background-color: #383838;
        pointer-events: none;

        span {
            margin: 0;
        }
    }

    button.active {
        background-color: #383838;
        border-bottom-left-radius: 0;
    }

    .download-options {
        position: absolute;
        z-index: 1000;
        width: 80%;
        background-color: $white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        font-size: 14px;
        margin: 0 1rem;
        text-align: center;

        a {
            @include nice-easing-animation;
            display: flex;
            align-items: center;
            margin: 0;

            &:first-of-type {
                border-bottom: $dotted-border;
            }

            &:not(.options) {
                cursor: pointer;
                padding: 8px;

                &:hover {
                    background-color: $white-dark;
                    color: $blueberry;
                }
            }

            &:last-of-type {
                border-bottom: 0;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            i {
                font-size: 1.3rem;
                margin-right: 0.5rem;
            }
        }

        .options {
            border-top: 1px solid $iris;
            color: $grey-dark;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 2px;
            padding: 5px 10px 5px 5px;

            .input-wrapper {
                width: auto;
                margin: 0;
                white-space: nowrap;

                label {
                    color: $grey-warm;
                    font-weight: 500;
                    margin-left: 5px;
                }

                input.check-toggle:checked + label.check-toggle-label {
                    color: #262626;
                }
            }
        }
    }
}

.go-to-trip {
    float: right;
    margin-top: 20px;

    a {
        @include nice-easing-animation;
        background-color: $purple-grey;
        border-radius: 3px;
        color: $white;
        display: flex;
        align-items: flex-start;
        float: left;
        font-size: 11px;
        font-weight: bold;
        margin: 0;
        padding: 10px 20px;
        text-transform: uppercase;
        white-space: nowrap;

        &:hover {
            background-color: $dusty-purple;
        }

        .fa {
            font-size: 1rem;
            margin-left: 0.5rem;
        }
    }
}
