$selected-color: $faded-purple;

.rbc-calendar {
    .rbc-month-row + .rbc-month-row {
        border: 0;
    }

    .rbc-month-row:last-of-type .date-wrapper {
        border-bottom: 0;
    }

    .rbc-month-view {
        background-color: $white;

        .rbc-event {
            height: 20px;
        }
    }
    height: calc(100vh - 100px) !important;
    min-height: 400px;

    a:hover, a:focus {
        color: inherit;
    }

    .rbc-day-bg, .rbc-time-view {
        max-height: 781px;
        background-color: $white;
        color: $grey-warm;

        &.rbc-selected-cell {
            background-color: $purple-light;
        }
    }

    .rbc-time-header > .rbc-row > * + *, .rbc-day-bg + .rbc-day-bg {
        border-left: 1px solid $faded-blue;
    }

    .rbc-date-cell {
        color: $greyish-brown;
        font-size: 16px;
        padding: 10px;
        text-align: left;

        a {
            width: 29px;
            height: 29px;
            color: $greyish-brown;
            cursor: pointer;
            display: block;
            font-weight: 500;
            padding: 5px;
        }

        .fa {
            @include nice-easing-animation;
        }

        &.rbc-off-range {
            a, .fa {
                color: $pinkish-grey;
            }
        }

        &.rbc-now a {
            background-color: $bright-pink;
            border-radius: 100%;
            color: $white;
            text-align: center;
        }

        .fa-square-o {
            opacity: 0;
        }

        &:hover .fa-square-o {
            display: block;
            opacity: 1;
        }

        .selected a {
            background-color: $faded-blue;
            border-radius: 100%;
            color: $black;
            text-align: center;
        }
    }

    .rbc-header {
        height: 37px;
        background-color: $iris;
        border-left-color: transparent !important;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 12px;
        font-weight: bold;
        padding-left: 5px;
    }

    .rbc-time-header {
        .rbc-row:first-of-type .rbc-header-gutter {
            background-color: $iris;

            &::before {
                height: 37px;
                color: $white;
                content: "Time";
                display: flex;
                align-items: center;
                font-size: 12px;
                font-weight: bold;
                padding-left: 10px;
            }
        }

        .rbc-row:last-of-type .rbc-header-gutter {
            width: 80px !important;
        }
    }

    div.rbc-event {
        background-color: transparent;
        border: 0;
        padding: 0;

        &:hover {
            z-index: 100;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        &.selected {
            .rbc-event-label, .rbc-event-content {
                color: $black;
            }
        }

        .rbc-event-label {
            font-size: 12px;
            font-weight: 500;
        }

        .contents {
            width: 100%;
            height: calc(100% - 1px);
            background-color: $light-blueberry; // pending
            border: 0;
            border-left: 4px solid $blueberry;
            border-left-width: 4px !important;
            border-radius: 2px;
            color: $blueberry;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 1px;
            padding: 2px 5px;

            transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        .rbc-event-content {
            display: flex;
            align-items: flex-end;
            font-size: 12px;
            font-weight: bold;
        }

        &.in-transit, &.completed, &.en-route, &.booking {
            .contents {
                background-color: #d9eed7;
                border-left-color: #5db37e;
                color: #5b7a5c;
            }
        }

        &.in-transit .contents {
            animation: borderPulseGreen 2s ease-in-out alternate infinite;
            animation-duration: 0.5s;
            animation-fill-mode: both;
        }

        &.canceled .contents {
            background-color: #cce9f0;
            border-left-color: $light-aqua;
            color: $aqua;
        }

        &.incomplete .contents {
            background-color: #fddbee;
            border-left-color: $brand-magenta;
            color: $berry;
        }
    }

    .rbc-timeslot-group {
        min-height: 80px;
        border-color: $faded-blue;
    }

    .rbc-time-content {
        max-height: 700px;
        border-top: 1px solid $faded-blue;
        overflow-y: scroll;
    }

    .rbc-event-content {
        height: auto;
        flex: none;
        font-size: 14px;
    }

    .rbc-label {
        font-size: 14px;
    }

    .rbc-time-column {
        width: 80px !important;
    }

    .rbc-current-time-indicator {
        left: 0 !important;
        z-index: 10;
        height: 3px;
        background-color: $berry;
        opacity: 0;

        &::before {
            top: -6px;
            left: 73px;
            width: 14px;
            height: 14px;
            background-color: $berry;
        }
    }

    .day-header {
        display: flex;
        align-items: center;

        .fa {
            font-size: 16px;
        }
    }

    .rbc-time-column:not(.rbc-time-gutter) {
        .rbc-time-slot.selected {
            background-color: $selected-color;
        }
    }

    .rbc-time-column.rbc-today {
        .rbc-time-slot.selected {
            background-color: mix($selected-color, #eaf6ff);
        }
    }

    .date-wrapper {
        border-right: 1px solid $faded-blue;
        border-bottom: 1px solid $faded-blue;
        flex-basis: 100%;

        .rbc-day-bg {
            max-width: 100% !important;
            height: 100%;
            background-color: transparent;
            flex-basis: 100% !important;
        }
    }

    .rbc-today {
        background-color: $white-medium-dark;

        &.rbc-header {
            background-color: #7e6eb9;
        }
    }
}

.rbc-allday-cell .date-wrapper {
    border-bottom: 0;

    &:last-of-type {
        border-right: 0;
    }

    .rbc-today {
        background-color: $white-medium-dark;
    }
}

.date-wrapper.selected {
    background-color: $selected-color;
}

.rbc-time-gutter .rbc-timeslot-group {
    border-left: 0;
}

.rbc-time-header.rbc-overflowing {
    border-right: 0 !important;
    border-bottom: 1px solid $faded-blue;
}

.rbc-overlay-header {
    color: $greyish-brown;
    font-size: 15px;
}
