.billing-dynamic-tab, .appointment_types-dynamic-tab {
    .dynamic-search-results {
        position: relative;
        left: 0;
        width: calc(100% - 3px);
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .dynamic-search-result {
        a {
            p,
            h3 {
                width: 100%;
                max-width: 100%;
                text-overflow: inherit;
            }
        }

        &.add-anchor {
            @include flex-center;
            max-height: 74px;
            background: $grey-dark;
            color: $white;
            display: block;
            flex-wrap: wrap;
            font-size: 2rem;
            padding: 0;
            text-align: center;
            text-transform: uppercase;

            span {
                width: 100%;

                &:nth-of-type(1) {
                    font-size: 1.3rem;
                }
            }

            a {
                p:first-child {
                    color: $white;
                    font-size: 0.6em;
                }

                p:last-child {
                    color: $white;
                    font-size: 0.9em;
                }
            }
        }
    }

    #add-billing-form {
        .input-wrapper {
            min-width: 100%;
        }
    }

    .modal-dialog {
        .form-block {
            width: 100% !important;
        }
    }
}
