.classic-radio-input {
    .option:not(:last-of-type) {
        margin-bottom: 15px;
    }

    .radio-circle {
        @include nice-easing-animation;
        position: relative;
        width: 20px;
        height: 20px;
        background: transparent;
        background: #fff; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, $blueberry 0%, $blueberry 50%, #fff 50%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, $blueberry 0%, $blueberry 50%, #fff 50%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, $blueberry 0%, $blueberry 50%, #fff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        border: 2px solid $greyish-brown;
        border-radius: 50px;
        cursor: pointer;
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=1); /* IE6-9 fallback on horizontal gradient */

        &::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            border-radius: 50px;
            content: "";
            opacity: 1;

            transition: 0.1s ease all;
        }

        &.selected {
            border: 2px solid $blueberry;

            &::after {
                opacity: 0;
            }
        }

        &.disabled {
            background: -moz-radial-gradient(center, ellipse cover, $grey-very-light 0%, $grey-very-light 50%, #fff 50%); /* FF3.6-15 */
            background: -webkit-radial-gradient(center, ellipse cover, $grey-very-light 0%, $grey-very-light 50%, #fff 50%); /* Chrome10-25,Safari5.1-6 */
            background: radial-gradient(ellipse at center, $grey-very-light 0%, $grey-very-light 50%, #fff 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            border-color: $grey-very-light;
            cursor: auto;
        }
    }

    span {
        color: $greyish-brown;
        vertical-align: middle;
    }
}
