.page-contact {
    h1 {
        margin: 50px auto;
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }

    a {
        color: $black;
        cursor: pointer;
        display: block;

        &:hover {
            i { font-size: 3.2rem; }

            svg { width: 42px; height: 42px; }
        }
    }

    i {
        color: $blueberry;
        font-size: 3rem;
    }

    svg {
        width: 40px;
        height: 40px;
        text-align: center;
        fill: $blueberry;
    }

    .contact-wrapper {
        width: 100%;
        background-color: $white-med;
        margin: 0 auto;
        padding: 40px 30px 20px;
        text-align: center;

        .icon-wrapper {
            width: 42px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }

        .text-wrapper {
            display: inline-block;
            margin: 0 0 0 30px;
            vertical-align: middle;
            white-space: normal;
        }

        h3 {
            font-size: 1.6rem;
            margin-bottom: 40px;
        }

        h4 {
            color: $black;
            font-size: 1.6rem;
            margin-bottom: 0;
        }

        .section-wrapper {
            width: 80%;
            margin: 0 auto;
        }

        .section {
            min-width: 275px;
            color: $grey;
            font-size: 2.1rem;
            margin: 30px auto;
            text-align: left;
            white-space: nowrap;

            .hours {
                color: $grey;
                font-size: 1.5rem;
                margin-top: 5px;
            }
        }

        @include media(small) {
            width: 500px;
        }
    }
}
