.dispatch {
    .admin-page {
        table {
            td {
                color: $grey-warm;
                font-size: 14px;
                padding: 0.8rem 0.65rem;
                vertical-align: middle;

                &.empty {
                    background: #d8d8d8;
                }
            }

            tr {
                .blank-row { border-top: 0; border-bottom: 0; }

                .first-row { border-top: 1px solid rgba(120, 99, 191, 0.5); border-bottom: 0; }

                &:not(:last-of-type) td:empty { border-bottom-color: rgba(120, 99, 191, 0.15); }

                &:last-of-type td { border-bottom: 1px solid rgba(120, 99, 191, 0.5); }
            }
        }

        .admin-table-header {
            position: relative;

            .wrapper {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
            }
        }

        .org-setting {
            .span-wrapper {
                margin-top: 15px;

                .input-wrapper.checkbox-wrapper {
                    margin-top: 15px;
                }
            }
        }

        .one-fifth {
            width: 20%;
        }

        .four-fifths {
            width: 80%;
        }
    }
}

.highlight {
    color: $brand-purple;
}

.highlight-green {
    color: $bright-green;
}

.highlight-red {
    color: $alert-color;
}

.highlight-pink {
    color: $berry;
}
