.dispatch-link-page {

    $locked-color: $grey;
    $unlocked-color: #262626;
    color: $unlocked-color;
    font-size: 14px;
    margin-top: 43px;

    &.allow-overflow {
        .drag-and-drop-list {
            overflow: visible;
        }
    }

    svg {
        width: 20px;
        max-height: 20px;
        fill: $unlocked-color;

        .st0 {
            fill: $unlocked-color;
        }

        .st3 {
            stroke: $unlocked-color;
        }
    }

    &.locked {
        color: $locked-color;

        svg {
            fill: $locked-color;

            .st0 {
                fill: $locked-color;
            }

            .st3 {
                stroke: $locked-color;
            }
        }

        .draggable-item {
            color: $grey;
        }
    }

    .drag-and-drop-icon {
        margin-right: 10px;
    }

    &.locked {
        .edit-icon {
            background-color: $iris;
        }
    }

    .page-section {
        min-height: calc(100vh - 70px - 60px - 75px); // margin, page header, site header
        margin: 0;

        &:first-of-type {
            @include flex-column;
            align-items: inherit;
            justify-content: space-between;
        }

        &.one-third {
            width: 32%;
        }

        &.two-thirds {
            width: calc(67% - 8px);
        }
    }

    .edit-icon {
        top: -35px;
        right: 0;
        left: auto;
        width: 35px;
        height: 35px;
        background-color: $bright-pink;

        @include flex-center;

        svg {
            width: 25px;
            height: 21px;
            margin: 0;
            fill: $white;

            &.edit {
                margin-top: 5px;
            }
        }

        &.disabled {
            background-color: $grey;
            cursor: not-allowed;
            pointer-events: none;

            svg {
                fill: $grey-white;
            }
        }
    }

    .section-chunk {
        padding-bottom: 30px;

        h2 {
            border-bottom: 1px solid $iris;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1.5px;
            margin: 0 20px 10px;
            padding: 30px 0 15px;
            text-transform: uppercase;
        }

        &:first-of-type {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .drag-and-drop-list {
                flex-grow: 1;
            }
        }

        &:last-of-type {
            h2 {
                border-top: 3px solid $iris;
            }
        }

        .drag-and-drop-list {
            min-height: 40px;
        }
    }

    .false-table-header {
        background-color: $iris;
        color: $white;
        font-size: 12px;
        font-weight: bold;

        div {
            width: calc(50% - 23px);
            display: inline-block;
            padding: 8px 20px;
        }
    }

    .false-table-body {
        .col {
            width: calc(50% - 23px);
            border-right: 1px solid $grey-white;
            display: inline-block;
            vertical-align: top;

            &:last-of-type {
                width: 46px;
                border: 0;
            }
        }

        li {
            @include flex-center;
        }

        li, .drag-and-drop-list > div {
            height: 35px;
            border-bottom: 1px solid $faded-blue;

            &:last-of-type {
                margin-bottom: 1px;
            }
        }

        .draggable-item {
            height: 34px;
            margin: 0 0 1px 1px;

            &:not(.dragging) {
                transform: none !important;
            }
        }

        .drag-and-drop-list.dragging-over .draggable-item:hover {
            background-color: $white-dark;
        }
    }

    .add-link {
        margin: 20px;
    }

    .drag-and-drop-list {
        border-top: 0;
        margin: 0;
        padding: 0;
    }

    .reorder {
        right: 10px;
        color: $grey-warm;
        display: none;

        transition: 0.2s ease-in-out display;
    }

    .draggable-item {
        height: 35px;
        border-radius: 0;
        display: flex;
        align-items: center;
        margin: 4px 1px;
        padding: 5px 11px 5px 15px;

        &:not(.no-drag) {
            &:hover, &.dragging {
                .reorder {
                    display: inline;
                }
            }
        }

        &.no-drag {
            color: $grey-warm;

            svg {
                fill: $grey-warm;

                .st0 {
                    fill: $grey-warm;
                }

                .st3 {
                    stroke: $grey-warm;
                }
            }
        }

        .dropdown {
            width: 100%;

            .arrow {
                position: absolute;
                top: 0;
                right: 15px;
                cursor: auto;
                padding: 5px;

                &:hover {
                    color: $black;
                }
            }

            .dropdown-options {
                position: absolute;
                top: 34px;
                right: -1px;
                left: -1px;
                z-index: 2;
                max-height: 200px;
                background-color: $white;
                border-radius: 0 0 3px 3px;
                overflow-y: scroll;

                &:not(.collapsed) {
                    border: 1px solid $faded-blue;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                }

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-track {
                    -moz-appearance: scrollbartrack-vertical;
                    background: $white-dark;
                    border-radius: 0;
                }

                &::-webkit-scrollbar-thumb {
                    background: $brand-purple;
                    border-radius: 4px;
                }
            }

            .option {
                cursor: auto;
                padding: 7px 7px 7px 20px;

                &:not(:last-of-type) {
                    border-bottom: 1px dotted $grey-white;
                }

                &:not(.note):hover {
                    background-color: $white-medium-dark;
                }

                &.note {
                    font-style: italic;
                    margin: 0;
                }
            }
        }
    }

    .delete-icon {
        @include nice-easing-animation;
        cursor: pointer;
        padding: 3px;

        &:hover svg {
            fill: $berry;
        }

        svg {
            height: 15px;
        }
    }

    .no-data {
        color: $grey;
        font-size: 16px;
        font-weight: 500;
        padding: 60px 10px;
        text-align: center;
    }

    // mobile styles
    @media screen and (max-width: $break-small) {
        margin-top: 49px;
        padding: 0 20px;

        .page-section.two-thirds {
            width: 100%;
            max-width: 400px;
            min-height: inherit;
            background-color: transparent;
            box-shadow: none;
            padding-top: 15px;
        }

        .panel {
            position: absolute;
            top: 56px;
            left: 0;
            z-index: 300;
            width: 100%;
            height: calc(100vh - 56px);
            background-color: $white;

            animation: slideInFromLeft 0.2s ease-out;
        }

        .false-table-header {
            display: none;
        }

        .false-table-body {
            margin-top: 10px;
        }

        .mobile-option {
            position: relative;
            height: 40px;
            background-color: $white;
            margin: 0;
            padding: 7px;

            .fa {
                position: absolute;
                top: 14px;
                right: 10px;
            }

            &.unassigned {
                color: $grey;

                svg {
                    fill: $grey;
                }
            }
        }

        .mobile-group {
            box-shadow: 0 1px 2px 0 rgba(160, 155, 155, 0.5);
            margin-top: 15px;

            .mobile-option:first-of-type {
                border-bottom: 1px solid $faded-blue;
            }
        }

        .add-link {
            margin: 20px 0 0;
        }

        .panel-header {
            position: relative;
            background-color: $blueberry;
            color: $white;
            font-size: 18px;
            padding: 19px 15px;

            .icon-container {
                position: absolute;
                top: 20px;
                right: 15px;

                svg {
                    fill: $white;
                }
            }
        }

        .panel-subheader {
            background-color: $iris;
            color: $white;
            font-size: 14px;
            padding: 15px;
        }

        .panel .option {
            border-bottom: 1px solid $grey-white;
            padding: 14px;
        }

        .mobile-delete {
            margin-top: 10px;

            span {
                color: $unlocked-color;
                float: right;
                font-size: 12px;

                svg {
                    height: 13px;
                    margin-bottom: -1px;
                }
            }
        }
    }
}
