// New styles for expandable toggle container (i.e. specialAccom and Notifcation Options)
.dropdown-panel-header {
    color: $grey-medium-dark;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;

    @include flex-between;

    &:hover {
        color: $grey-medium-dark;
    }

    > .fa {
        font-size: 20px;
    }
}

.dropdown-panel {
    width: 100%;
    overflow: scroll;
    padding: 0;

    transition: height 0.2s ease;

    &.notes-for-driver[class*='notes-for-driver'] {
        height: auto;
        overflow: visible;

        textarea { margin-bottom: 10px; }

        .form-block-full { border-top: 0; }

        .delete-button { margin: 10px 0 -10px; }
    }

    &.collapsed {
        height: 0;
        visibility: hidden;
    }
}

.dropdown-panel-container {
    width: 100%;
    border-top: 1px solid $cloudy-blue;
    border-bottom: 1px solid $cloudy-blue;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 7px 0;

    &.no-header {
        margin-top: 0;
    }

    @include media(medium) {
        padding: 7px;
    }

    > div {
        width: 100%;
        max-height: 1000px;
        background-color: $white;
        border-top: 0;
        overflow: hidden;
        overflow: scroll;
        padding: 5px;

        transition: 0.3s max-height ease-in-out;

        &.collapsed {
            max-height: 0;
            border: 0;
            margin: 0;
            opacity: 0;
            padding: 0 15px;

            .note {
                margin-top: 0;
            }
        }
    }

    .custom-note {
        margin-top: 15px;
    }

    .checkbox-new {
        margin: 5px;
    }

    &.edit-rider {
        border-top: 0;
        border-bottom: 0;
        margin-top: 0;
        padding: 0;

        .dropdown-panel-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;

            .fa {
                cursor: pointer;
                margin-left: 20px;
            }

            span {
                color: $brand-purple;
                cursor: pointer;
                font-size: 1.6rem;
                font-weight: bold;
                letter-spacing: 1.5px;
                margin-bottom: 0;
                text-transform: uppercase;
            }

            .note {
                color: $grey-warm;
                font-size: 1.2rem;
                font-style: italic;
                font-weight: 500;
                letter-spacing: 0;
                margin-left: 5px;
                text-transform: none;
            }

            .toggle-all {
                color: $bright-blue;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: 0.5px;
                margin-bottom: 0;
                margin-left: 20px;
                text-decoration: underline;
                text-transform: none;
            }
        }

        .dropdown-panel {
            font-size: 1.4rem;

            flex-wrapper {
                width: auto;
                background-color: yellow;
                margin: 0 auto;
            }

            .input-wrapper {
                width: 100%;
                margin-top: 15px;
                margin-right: 0;

                input {
                    width: 100%;
                }

                @include media(medium) {
                    width: 32%;
                    margin-right: 1.6%;
                }
            }

            .input-wrapper:nth-child(3),
            .input-wrapper:nth-child(6) {
                margin-right: 0;
            }

            .input-wrapper:nth-child(1),
            .input-wrapper:nth-child(2),
            .input-wrapper:nth-child(3) {
                margin-top: 10px;
            }

            .note {
                margin-top: 20px;
            }
        }
    }

    &.care-team {
        border-top: 2px solid $blueberry;
    }

    .note {
        margin: 10px 0 0;
    }

    .button-container {
        @include flex-center;
        flex-direction: column;
        margin-top: 20px;

        button {
            width: 293px;
            max-width: 80%;
            height: 36px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
            font-size: 14px;
            font-weight: bold;
            padding: 0;
            text-transform: uppercase;
        }

        p {
            margin: 10px 0 0;
        }
    }
}

.note.optional {
    color: $grey-warm-darker;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 5px;
}
