.error-modal {
    .fa {
        color: $grey;
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    span {
        width: 100%;
        max-width: 350px;
        color: $black;
        display: block;
        font-size: 2rem;
        font-weight: 500;
        margin: 0 auto;
        margin-bottom: 5px;
        text-align: center;

        &.sub-message {
            color: $grey-warm;
            font-size: 1.5rem;
        }
    }

    h4 {
        font-size: 1.8rem;
        line-height: 25px;
        margin-bottom: 2rem;
        text-align: center;
    }

    button {
        font-size: 1.4rem;
    }

    .logo {
        height: 50px;
        margin-bottom: 10px;
    }

    @media screen and (max-width: $break-mobile) {
        .content {
            .scrollable {
                @include flex-center;
                height: 100%;
            }
        }
    }
}

.new-error-modal {
    width: 429px;
    padding: 0 30px;

    .icon-container {
        .st0 { clip-rule: evenodd; fill-rule: evenodd; }
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 200px;
        height: 200px;
        overflow: hidden;

        &.megaphone {
            svg {
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1) rotate(60deg);
                -ms-filter: "FlipH";
                filter: FlipH;
            }
        }

        svg {
            position: absolute;
            top: -34px;
            right: -25px;
            width: 180px;
            height: 180px;
            overflow: hidden;
            fill: #e5e5e5;
        }
    }

    .new-error-content {
        position: relative;
        z-index: 2;
        margin-bottom: 40px;

        .main-paragraph {
            border-bottom: 1px solid $brand-purple;
            padding-bottom: 30px;
        }

        h3 {
            &.lighter {
                color: #bc2477;
            }
            color: $iris;
            font-size: 1.1em;
            font-weight: bold;
            letter-spacing: 1.7px;
            text-transform: uppercase;
        }

        p {
            color: $grey-dark;
            font-size: 0.8em;
            font-style: italic;
            margin: 0;
            text-align: left;
        }
    }

    h4 {
        color: $grey-warm;
        font-size: 0.8em;
        font-weight: 500;
        line-height: 1.2;
        margin: 20px 0;
        margin-bottom: 0;
        text-align: left;
    }

    .custom-warning & {
        h3.medium-warning {
            color: $brand-magenta;
        }

        .main-paragraph {
            padding: 40px 0 21px;

            p {
                font-size: 14px;
            }
        }

        .new-error-footer h4 {
            color: $greyish-brown;
            font-size: 14px;
        }
    }

    @media screen and (max-width: $break-mobile) {
        width: auto;
        padding: 0;

        .main-paragraph {
            font-size: 0.85em;
        }
    }
}

@media screen and (max-width: $break-small) {
    .custom-warning.modal-dialog .animated-component.will-animate .content {
        transform: translate3d(-50%, -100px, 0);
    }

    .custom-warning .content {
        top: calc(100px + 10px);
        width: calc(100% - 20px);

        .new-error-modal {
            width: auto;
        }
    }
}
