.estimate-dynamic-tab {
    .input-wrapper {
        margin-top: 0;
    }

    .dynamic-search-results {
        position: relative;
        left: 0;
        max-width: calc(100% - 3px);
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        .disabled {
            cursor: not-allowed;

            p {
                cursor: not-allowed;
            }
        }

        .fa {
            color: $brand-purple;
            display: none;
            font-size: 12px;
            margin: 0 30px 0 10px;

            &.fa-exclamation-circle {
                color: $error-color;

                &.orange {
                    color: $orange;
                }

                &.grey {
                    color: $grey-medium-light;
                }
            }

            @include media(small) {
                display: inline;
                margin: 0 5px 0 2px;
            }
        }

        p {
            max-width: 100%;
        }

        .reliability {
            position: relative;
            color: $brand-purple;
            display: block;
            font-size: 12px;

            &.red {
                color: $error-color;
            }

            &.orange {
                color: $orange;
            }

            &.grey {
                color: $grey-medium-light;
            }
        }

        .eta {
            color: $grey-medium-dark;
            font-size: 12px;
            margin-top: -3px;

            .fa {
                color: $grey-medium-dark;
            }
        }
    }
}
