.expanded-ride-row {
    position: relative;
    cursor: auto;
    display: flex;
    padding: 15px 0;

    &.loading {
        .column {
            opacity: 0;
        }
    }

    span.bold-span {
        color: $brand-purple;
        margin-right: 5px;
    }

    .crud-event-log {
        border: 0;
        margin: 0;
        padding: 0;

        .dropdown-panel-header {
            display: none;
        }

        .dropdown-panel {
            max-height: 150px;
            overflow: scroll;

            transition: none;
        }

        .crud-event {
            margin: 5px 0;
        }

        h4 {
            font-size: 14px;
            font-weight: 500;

            span {
                color: $greyish-brown;
            }
        }
    }

    .column {
        width: 100%;
        height: 225px;
        border-right: 1px solid $faded-blue;
        padding: 0 15px;

        &:last-of-type {
            max-width: 400px;
            border: 0;

            .ie11 & {
                min-width: 30%;
            }
        }

        .body {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            button {
                width: 200px;
                max-width: 90%;
                margin-top: 8px;
                padding: 1rem 0;
            }

            p {
                color: $greyish-brown;
                margin-bottom: 2px;
            }

            .input-wrapper {
                margin-top: 0;
                margin-bottom: 2px;
                margin-left: -5px;

                input {
                    height: 24px;
                    font-size: 12px;
                }
            }
        }

        .ride-details {
            height: 200px;
            border: 1px solid $white;
            border-radius: 3px;
            overflow-y: scroll;
            padding: 10px;

            //custom scrollbar styling
            &.scrollable {
                max-width: 100%;
                border-color: $grey-extra-light;

                &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                }

                &::-webkit-scrollbar-track {
                    -moz-appearance: scrollbartrack-vertical;
                    background: $grey-extra-light;
                    border-radius: 0;
                }

                &::-webkit-scrollbar-thumb {
                    background: $grey;
                    border-radius: 3px;
                }
            }

            .fa-circle, .fa-circle-o {
                margin-right: 1.5rem;
                margin-left: 1.5rem;
            }

            .timeline {
                margin-bottom: 0;

                div.time, p.time {
                    width: 84px;
                    min-width: 84px;
                    font-size: 11.5px;
                    padding-top: 2px;
                }

                .timeline-line {
                    left: 103px;

                    &:not(.destination) {
                        height: calc(100% - 2rem);
                    }
                }

                li > div {
                    .address {
                        width: 200px;
                    }
                }

                .request-id {
                    font-size: 11px;
                }

                li > div {
                    max-width: none;

                    .driver-details {
                        flex-wrap: nowrap;
                        padding: 5px 10px;

                        .img-holder {
                            width: 45px;
                            min-width: 45px;
                            height: 45px;
                            min-height: 45px;
                        }
                    }

                    .address-block {
                        max-width: 100%;
                    }

                    .address {
                        width: auto;

                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        &.map {
            max-width: 100%;

            .map-loader {
                flex-direction: column;

                > div {
                    width: 50px;
                    height: 50px;
                    background-size: 50px 50px;
                }

                p {
                    font-size: 12px;
                    padding: 5px 0;
                }
            }

            > .form-block > .map-loader {
                height: 100%;
                padding: 0;
            }

            > .form-block-trip-map-wrapper {
                width: 100%;
                height: 100%;

                .map-wrapper {
                    height: 225px;
                    padding: 0;

                    .map-canvas {
                        height: 225px;
                        min-height: 225px;
                    }
                }
            }

            > .form-block-trip-map-wrapper, .uber-map-container-wrapper {
                max-width: 735px;
            }

            .flat-map-container-wrapper {
                height: 225px;
                cursor: default;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img {
                    width: auto;
                    max-width: inherit;
                    max-height: 80%;
                }
            }

            .uber-map-container-wrapper {
                height: 225px;

                iframe {
                    margin-top: -43px; // cuts off uber header
                }
            }
        }

        &.map.with-toggle {
            position: relative;

            > .form-block-trip-map-wrapper, > .form-block-trip-map-wrapper .map-wrapper, .uber-map-container-wrapper, .flat-map-container-wrapper {
                height: 184px;
                min-height: 184px;

                .map-canvas {
                    height: 184px;
                    min-height: 184px;
                }
            }

            .map-link {
                position: absolute;
                bottom: 10px;
                left: 20px;
                cursor: pointer;

                &.disabled {
                    opacity: 0.8;
                    pointer-events: none;
                }

                @media screen and (max-width: $break-small) {
                    position: relative;
                    bottom: 0;
                    left: 0;
                }
            }

            .scroll-modal .map-loader {
                height: 100%;
                background-color: $white-dark;
                padding: 0;
            }
        }
    }

    &.loading .circulation-loader {
        position: absolute;
        top: 0;
        z-index: inherit;
        height: 100%;
        opacity: 0;

        animation: fadeIn;
        animation-delay: 0.1s;
        transform: scale3d(0.5, 0.5, 0.5);
        animation-fill-mode: forwards;
    }

    .header-block {
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        .map-icon {
            width: 20px;
            height: 20px;
            margin-right: 15px;

            svg {
                fill: $blueberry;
            }
        }

        h3 {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1.5px;
            margin: 0;
            text-transform: uppercase;
        }

        &.align-top {
            align-items: flex-start;
        }
    }

    p {
        font-size: 12px;
    }
}

@mixin mobile-expanded-row() {
    flex-wrap: wrap;
    padding: 0;

    svg {
        transform: scale3d(0.8, 0.8, 0.8);
    }

    .column {
        width: 50%;
        height: 200px;
        padding: 0;

        p.desc {
            font-size: 12px;
        }

        .ride-details {
            max-height: 200px;
            border: 0;
        }

        .header-block {
            display: none;

            .dispatch & {
                display: flex;
            }

            h3 {
                font-size: 14px;
                margin-bottom: 5px;
            }
        }

        .report-issue {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        &.map {
            width: 50%;
            max-width: inherit;
            border-right: 0;

            .map-wrapper, .uber-map-container-wrapper, .flat-map-container-wrapper {
                height: 200px;
                min-height: 200px;

                .map-canvas {
                    height: 200px;
                    min-height: 200px;
                }
            }
        }

        &.map.with-toggle {
            .map-wrapper, .uber-map-container-wrapper, .flat-map-container-wrapper {
                height: 188px;
                min-height: 188px;

                .map-canvas {
                    height: 188px;
                    min-height: 188px;
                }
            }
        }
    }

    .column:last-of-type {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-top: 1px solid $faded-blue;
        order: 1;
        padding-top: 5px;

        .body {
            position: relative;
            flex-direction: row;
            justify-content: flex-start;

            .body-group {
                flex-wrap: wrap;
                padding: 0 10px;
                text-align: left;

                &:nth-child(2) {
                    p, .editable-text {
                        flex-grow: 1;
                    }
                }

                > p, .editable-text {
                    justify-content: center;
                    font-size: 11px;
                    white-space: nowrap;

                    @include media(medium) {
                        margin: 5px 10px 5px 0;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }

                    span, p {
                        font-size: 11px;
                    }
                }

                button {
                    position: absolute;
                    top: 0;
                    right: 10px;
                    width: 200px;
                }
            }
        }
    }
}

div.rides-list.show-details.rider-page {
    .fake-timeline {
        ul, + .timeline-line {
            margin-left: -85px;
        }
    }
}

@include media(small) {
    @media screen and (max-width: $break-medium) {
        div.rides-list.show-details {
            height: 385px;

            .expanded-ride-row {
                @include mobile-expanded-row();
            }
        }
    }
}

@media screen and (max-width: $break-small) {
    .expanded-ride-row {
        display: none;
    }
}
