.fields-required-note {
  position: absolute;
  right: 0;
  top: 2rem;
  padding: 1rem 5rem;
  @media screen and (max-width: $break-mobile) {
    top: .5rem;
  }
  @include media(medium) {
    padding: 0.5rem 5rem;
  }
  @include media(large) {
    padding: 1.5rem 7rem;
  }
  color: $berry;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  @media screen and (max-width: $break-mobile) {
    padding: 6px;
    font-size: 0.6em;
  }
}

.complete-check {
  position: absolute !important;
  margin-top: 2.5rem;
  @include media(small) {
    margin-top: 3.5rem;
  }
  @include media(medium) {
    margin-top: 4rem;
  }
  .fa-asterisk {
    color: $berry;
    font-size: .7rem;
  }
  .fa-check-circle, .fa.loading, .fa-check {
    color: $success-color;
    margin-left: -2.8rem;
    font-size: 1.2rem;
  }
  &.inline {
    margin: 0;
    margin-left: -25px;
    position: relative;
    .fa {
      width: 17px;
      margin: 0;
      margin-right: 1rem;
    }
  }
  &.input {
    right: 0;
    z-index: 1000;
    @media screen and (max-width: $break-mobile) {
      margin-top: 25px;
    }
    &.new-style {
      margin-top: 7px;
      width: 25px;
      .fa {
        margin-left: 0;
        &.fa-asterisk {
          font-size: 8px;
        }
      }
    }
  }
  &.half {
    margin-top: 1.5rem;
    @include media(medium) {
      margin-top: 2rem;
    }
  }
  &.dropdown {
    margin-right: 1rem;
  }
  &.small-margin {
    margin-top: 1.5rem;
    right: 8px;
    @include media(small) {
      right: 0;
    }
    @include media(medium) {
      margin-top: 2rem;
    }
  }
  &.title {
    left: -15px;
    margin-top: -2px;
    @include media(small) {
      margin-top: -2px;
    }
    @include media(medium) {
      margin-top: -2px;
    }
    .fa {
      margin: 2px 0 0 0;
      &.fa-check {
        margin: 2px 0 0 -3px;
      }
    }
    svg {
      width: 15px;
      height: 15px;
      fill: $grey;
      margin-left: -2px;
    }
    .fa.loading {
      position: absolute;
      top: 2px;
      right: -7px;
    }
  }
}
