.header-alerts-wrapper {
    @include nice-easing-animation;
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 3000;
    width: 545px;
    height: 170px;
    background-color: $white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    letter-spacing: normal;

    animation: fadeIn;
    animation-duration: 0.2s;

    @include media(small) {
        top: 75px;
        right: -100px;
    }
    @include media(medium) {
        right: -130px;
    }

    &.hidden {
        display: none;
    }

    .circulation-loader {
        height: 100%;

        > div {
            width: 100px;
            height: 100px;
            background-size: 100px 100px;
        }
    }

    &.medium {
        height: 226px;
    }

    &.medium-large {
        height: 284px;
    }

    &.large {
        height: 329px;
    }

    &.extra-large {
        height: 433px;
    }

    &::before {
        position: absolute;
        top: -10px;
        right: 15px;
        content: '';

        @include triangle(20px, $blueberry, up);
        @include media(small) {
            right: 117px;
        }
        @include media(medium) {
            right: 152px;
        }
    }

    .ride-num {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 10px;
    }

    .fa.loading {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        margin-right: 9px;
    }

    .ride-container {
        .body {
            border-top: 1px solid $pinkish-grey;
        }

        &:first-of-type .body {
            border: 0;
        }
    }

    .heading {
        @include flex-between;
        height: 32px;
        background-color: $brand-grape;
        color: $white;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 24px;

        a {
            color: $white;
            cursor: pointer;

            @include nice-easing-animation;

            &:hover {
                opacity: 0.8;
            }
        }

        > a {
            border-bottom: 0.5px solid $white;
        }

        .nav {
            a {
                padding: 0 10px;

                &.disabled {
                    opacity: 0.5;
                }
            }

            a:first-of-type {
                padding-left: 20px;
            }
        }
    }

    .card-wrapper {
        position: relative;
        width: 100%;
        height: calc(100% - 32px);
        overflow: hidden;

        .alert-card {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include nice-easing-animation;

            &.left {
                animation: slideInFromLeft 0.2s ease-out;
            }

            &.right {
                animation: slideInFromRight 0.2s ease-out;
            }

            > div {
                height: 100%;
            }

            .body {
                position: relative;
                height: 90px;
                border-left: 5px solid #ffa500;
                align-items: flex-start;
                justify-content: space-between;
                padding: 14px 20px;

                @include flex-column;

                &.warning-level-1 {
                    border-left-color: $error-color;
                }

                h3 {
                    max-width: 430px;
                    color: $black;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0;
                    text-transform: uppercase;

                    .dash {
                        font-size: 12px;
                    }

                    .alert-time {
                        font-size: 12px;
                        font-weight: 500;
                        text-transform: none;
                        white-space: nowrap;
                    }
                }

                p {
                    color: $black;
                    display: flex;
                    align-items: baseline;
                    font-size: 14px;
                    font-weight: 500;
                    margin: 0;

                    &.rider {
                        width: 100%;
                        color: $grey-warm-darker;
                        display: block;
                        margin: 0;

                        .cohort {
                            display: block;
                        }

                        @include media(small) {
                            width: calc(100% - 60px);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            .cohort {
                                display: inline;
                            }
                        }

                        svg {
                            width: 18px;
                            height: 18px;
                            margin: 0 6px -4px 15px;
                            fill: $grey-warm-darker;
                        }
                    }

                    .tzone {
                        font-size: 12px;
                    }
                }

                .ride-data-wrapper {
                    width: auto;
                    min-width: auto;
                    min-height: auto;

                    svg {
                        display: none;
                    }
                }

                .ride-status {
                    background-color: #a7cc8a;
                    border-radius: 3px;
                    color: $white;
                    float: right;
                    font-size: 11px;
                    margin: -1px 0 1px 15px;
                    padding: 3px 5px;
                }
            }

            .rides-list, .rider-alert, .trip-list {
                height: calc(100% - 90px);
                min-height: auto;
                background-color: #eaeaea;
                border: 0;
                margin: 0;
                padding: 0;

                .ride-status, .ride-info .ride-data-wrapper, .ride-info .ride-status, .info-container, .alert-type {
                    display: none;
                }

                .trip-list-ride-item {
                    position: relative;
                    min-height: auto;
                    border: 0;
                    margin: 0;
                    padding: 0;

                    .rides-list {
                        display: none;
                    }

                    &::after {
                        content: none;
                    }
                }

                .pending-cancel, .cancel-block, .rides-list-ride-item, .rides-list-ride-item > div {
                    height: 100%;
                    padding: 0;
                }

                .rides-list-ride-item {
                    height: 48px;

                    @include nice-easing-animation;

                    &.pending-cancel {
                        height: 0;
                        overflow: hidden;

                        + div {
                            height: 350px;

                            @include media(small) {
                                height: 100%;
                            }
                        }
                    }
                }

                .cancel-block {
                    background-color: #eaeaea;
                    display: flex;
                    padding: 15px 37px 17px 24px;

                    animation: fadeIn;
                    animation-duration: 0.5s;

                    p {
                        color: $black;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.5;
                        margin-bottom: 9px;
                        text-align: left;

                        @include media(small) {
                            line-height: normal;
                        }
                    }

                    > div { width: 100%; }

                    &.no-reason {
                        p {
                            display: block;
                            text-align: center;
                        }
                        padding: 0;
                    }

                    .fa-question-circle {
                        display: none;
                    }

                    .cancel-reason-inputs {
                        position: unset;
                        height: auto;
                        flex-direction: column;
                        justify-content: space-between;
                        overflow: visible;

                        .max {
                            max-width: 100%;
                            margin-top: 30px;

                            .input-wrapper {
                                margin-bottom: 0;
                            }
                        }

                        .input-wrapper {
                            width: 100%;
                            overflow: visible;

                            &:nth-child(2) {
                                margin-top: 34px;
                            }

                            &:last-of-type {
                                margin: 34px 0 0;
                            }

                            .select-label, .icon-form {
                                display: none;
                            }

                            .select-arrow {
                                right: 12px;
                                border-top-color: #494949;
                            }

                            label {
                                top: -20px;
                                height: auto;
                                padding: 0;

                                &::before {
                                    content: none;
                                }
                            }

                            .label-content {
                                color: $black;
                                font-size: 12px;
                                font-weight: 500;
                                opacity: 1;

                                transform: none;
                            }
                        }

                        input, select {
                            height: 32px;
                            background-color: $white;
                            border: 1px solid $faded-blue;
                            border-radius: 4px;
                            color: $black;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 0 10px;

                            &:focus {
                                border-color: $brand-grape;
                            }
                        }
                    }

                    svg {
                        top: 8px;
                        right: 8px;
                        opacity: 0.7;

                        @include nice-easing-animation;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    .more-info {
                        color: $greyish-brown;
                    }

                    button {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 48px;
                        background-color: $brand-purple;
                        border-radius: 0;
                        font-size: 13px;
                        font-weight: 500;
                        margin: 0;
                        text-transform: uppercase;

                        &:hover {
                            background-color: $brand-purple-dark;
                        }

                        &:disabled {
                            background-color: darken($grey-white, 5%);
                            color: darken($pinkish-grey, 5%);
                            cursor: default;
                        }
                    }

                    &.no-reason {
                        p {
                            font-size: 14px;
                            margin: 0;
                            text-align: center;
                        }

                        .button-wrapper {
                            height: auto;
                            background-color: transparent;
                            flex-direction: row;
                            justify-content: center;
                            margin-top: 10px;

                            button {
                                position: relative;
                                left: 0;
                                width: 123px;
                                height: 36px;
                                background-color: $greyish-brown;
                                border-radius: 3px;
                                color: $white;
                                font-size: 14px;
                                font-weight: bold;
                                margin: 0 10px;

                                &:hover {
                                    background-color: darken($greyish-brown, 5%);
                                }
                            }
                        }
                    }

                    &.reassign {
                        display: block;

                        p {
                            margin: 12px 0 15px;
                        }

                        button {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                        }
                    }
                }
            }

            p.sub-info.error { display: none; }

            @media screen and (max-width: $break-small) {
                .rides-list {
                    height: auto;

                    &.pending-cancel {
                        position: absolute;
                        bottom: 0;

                        div:last-of-type {
                            .cancel-block {
                                height: 100%;

                                &.no-reason .button-wrapper {
                                    display: flex;

                                    button {
                                        min-width: 40%;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .rider-alert {
                height: 48px;
                min-height: 48px;

                .ride-info, .button-wrapper {
                    @include media(small) {
                        height: 48px;
                    }
                }

                button.error {
                    color: $black !important;

                    svg.email-outline svg {
                        fill: $brand-purple !important;
                    }
                }

                svg.window-close svg {
                    fill: $error-color;
                }
            }

            .button-wrapper {
                width: 100%;
                min-height: 48px;
                background-color: $white;
                margin: 0;

                > span {
                    @include flex-between;
                    width: 100%;
                    flex-direction: row;
                    flex-wrap: nowrap;
                }

                button {
                    width: 100%;
                    height: 48px;
                    background-color: #eaeaea;
                    border-radius: 0;
                    color: $black;
                    font-size: 14px;
                    font-weight: 500;
                    margin: 0 1px;
                    padding: 0;
                    text-transform: uppercase;

                    &:disabled {
                        opacity: 0.5;
                    }

                    > span {
                        @include flex-center;
                        color: $black;
                        padding: 0 10px;

                        > svg {
                            width: 24px;
                            height: 24px;
                            margin-right: 9px;
                            fill: $brand-purple;

                            &.edit {
                                margin-top: 5px;
                                fill: $brand-grape;
                            }

                            &.check {
                                fill: $success-color;
                            }

                            &.phone, &.map-marker-radius {
                                fill: $brand-grape;
                            }

                            &.thumbs-up {
                                height: 17px;
                                margin-top: -2px;
                            }
                        }
                    }

                    &:hover:not(:disabled) {
                        background-color: darken(#eaeaea, 5%);
                    }

                    &:first-of-type {
                        margin-left: 0;
                    }

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: $break-small) {
        // mobile styles
        position: fixed;
        width: 100%;
        height: calc(100% - 56px) !important;
        background-image: linear-gradient(to bottom, $brand-purple, $blueberry);
        padding: 17px;

        &::before {
            content: none;
        }

        .heading {
            height: 47px;
        }

        .card-wrapper {
            height: calc(100% - 47px);
            background-color: $white;
            overflow-y: scroll;

            .alert-card {
                background-color: $white;

                .button-wrapper {
                    bottom: 0;
                    height: auto;
                    display: block;

                    span {
                        display: block;
                    }

                    button {
                        max-height: 65px;
                        margin-bottom: 2px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }

                > div {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .ride-container {
                    height: 100%;

                    &.mobile-hidden {
                        display: none;
                    }

                    > div {
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                    }

                    .flex {
                        width: 100%;
                        justify-content: center;
                        margin-bottom: 10px;

                        > p {
                            display: none;
                        }
                    }
                }

                .body {
                    height: auto;
                    border: 0;
                    display: block;

                    .alert-icon {
                        position: inherit;
                        top: auto;
                        right: auto;
                        width: 70px;
                        min-height: 70px;
                        font-size: 60px;
                        margin: 0 auto;
                        margin-top: 40px;
                        margin-bottom: 30px;

                        .inset {
                            width: 37.7px;
                            height: 37.7px;
                        }
                    }

                    .alert-time {
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        font-size: 14px;
                    }

                    .ride-status {
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        margin: 0;
                        padding: 5px;
                    }

                    > h3, > p {
                        justify-content: center;
                        margin: 0 auto;
                        margin-bottom: 16px;
                        text-align: center;

                        .diff {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            margin-top: 20px;
                        }

                        .alert-error {
                            margin-bottom: 10px;
                        }
                    }

                    h3 {
                        font-size: 18px;

                        .dash {
                            display: none;
                        }
                    }

                    p {
                        font-size: 16px;
                    }

                    .ride-data-wrapper {
                        justify-content: center;
                        padding: 0;

                        &.alert-card-timeblock {
                            display: block;
                            text-align: center;

                            p {
                                display: inline;
                            }

                            .diff {
                                display: block;
                                margin-top: 10px;
                            }
                        }
                    }
                }

                .rides-list .rides-list-ride-item {
                    height: auto;

                    > div {
                        background-color: $white;
                    }

                    &.pending-cancel {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 200px !important;

                        .cancel-block {
                            position: absolute;
                            bottom: 22px;
                            height: 300px;
                            padding: 20px;

                            p {
                                margin-top: 30px;
                            }

                            .more-info {
                                display: none;
                            }

                            .button-wrapper {
                                width: calc(100% - (17px * 2));
                                display: flex;
                                margin-bottom: 50px;

                                button {
                                    width: 110px;
                                    height: 50px;
                                }
                            }

                            &.no-reason {
                                height: 200px;
                                margin-top: 0;

                                p {
                                    max-width: 200px;
                                    margin: 0 auto;
                                    margin-top: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.alert-icon {
    position: absolute;
    top: 16px;
    right: 27px;
    width: 58px;
    height: 58px;
    background-color: #ffa500;
    border-radius: 100%;
    color: $white;
    font-size: 36px;

    @include flex-center;

    &.warning-level-1 {
        background-color: $error-color;

        .inset {
            border-color: $error-color;
        }
    }

    .inset {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 26px;
        height: 26px;
        background-color: $white;
        border: 1px solid #ffa500;
        border-radius: 100%;

        @include flex-center;

        svg {
            width: 80%;
            height: 80%;
            fill: $black;

            &.car-circle {
                width: 75%;
                height: 75%;

                .st0 {
                    fill: $black;
                }

                .st3 {
                    stroke: $black;
                }
            }
        }
    }
}
