.home {
    .flex-wrapper {
        max-width: 800px;
        justify-content: center;
        margin-top: 7%;
        margin-right: auto;
        margin-left: auto;
        padding: 0 10px;

        h1 {
            font-size: 4rem;
            font-weight: 500;

            @media screen and (max-width: $break-mobile) {
                font-size: 3rem;
            }

            @include media(small) {
                font-size: 48px;
            }
            @include media(medium) {
                margin-bottom: 28px;
            }
        }
    }
}

#resultList .home-search-result:not(.add-rider) {
    display: flex;

    a {
        max-width: calc(100% - 61px);

        @include media(small) {
            max-width: calc(100% - 72px);
        }
    }

    .search-book-trip-container {
        width: 61px;
        border-left: 1px dotted $grey-white;
        color: $brand-purple-light;
        font-size: 12px;

        @include flex-column;
        @include media(small) {
            width: 72px;
        }

        button {
            width: 34px;
            height: 34px;
            background-color: $brand-purple-light;
            border-radius: 1px;
            font-size: 24px;
            font-weight: 500;
            padding: 0;

            span {
                @include flex-center;
            }

            svg {
                width: 25px;
                height: 25px;
                margin-top: 0;
                fill: $white;
            }

            &:hover {
                background-color: $brand-purple;
            }

            &:disabled {
                background-color: $grey;
                cursor: not-allowed;
                opacity: 0.5;

                + span {
                    color: $grey;
                }
            }
        }

        > span {
            margin-bottom: -5px;
        }
    }
}

#resultList .home-search-result, #resultList_analytics .home-search-result {
    h3,
    p {
        width: 100%;
        color: $greyish-brown;
        display: inline-block;
        line-height: 1.1;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include media(small) {
            width: 25%;
            max-width: 25%;
        }
    }

    &.inactive {
        background-color: $grey-extra-light;

        h3, p {
            color: $grey-warm;
        }

        &:hover, &:focus {
            background-color: $grey-very-light;
        }
    }

    .name {
        width: 100%;
        max-width: 100%;
        color: $brand-purple;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 17px;
        margin-bottom: 8px;
        overflow: visible;

        span {
            padding-right: 1.5rem;
        }

        &.user-long {
            margin: 0.5rem 0;
        }
    }

    .study {
        @include media(small) {
            width: 40%;
            max-width: 40%;
        }
        font-size: 13px;

        &.user-long {
            width: 80%;
            max-width: 80%;
        }
    }

    .phone, .dob {
        @include media(small) {
            width: 200px;
        }
        font-size: 13px;
    }

    @include media(small) {
        .phone {
            max-width: 28%;
        }

        .dob {
            max-width: 22%;
        }
    }

    .long-name {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .address {
        @include media(small) {
            width: 50%;
            max-width: 100%;
        }
        font-size: 13px;
        margin: 0;
    }

    .address.long {
        width: 50%;
        max-width: 50%;
    }

    span {
        &.label {
            font-weight: 600;
            margin-right: 5px;
        }
    }

    .tag {
        width: auto;
        border: 1px solid $faded-blue;
        border-radius: 3px;
        color: $grey-warm-darker;
        font-size: 12px;
        font-weight: 500;
        margin-right: 1.5rem;
        padding: 0.3rem 0.5rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

#resultList .add-rider {
    background: $grey-dark;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;

        a {
            pointer-events: none;

            p {
                color: $white;
            }
        }

        svg {
            width: 13px;
            height: 13px;
            margin: 0 5px -1px 0;
            fill: $grey-very-light;
        }

        .note {
            font-size: 12px;
            font-style: italic;
            text-transform: none;
        }
    }

    a {
        @include nice-easing-animation;

        &:focus, &:hover {
            background-color: $black;

            p:first-child {
                color: $white;
                font-size: 0.6em;
            }

            p:last-child {
                color: $white;
                font-size: 0.9em;
            }
        }
        width: 100%;
        min-height: 74px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            min-width: 100%;
            margin: 2px 0;
            text-overflow: inherit;
            -ms-overflow-style: none; // make sure there's no scrollbar in IE
        }

        p:first-child {
            color: $white;
            font-size: 0.6em;
        }

        p:last-child {
            color: $white;
            font-size: 0.9em;
        }
    }
}

.rider-search, .admin-portal-filter {
    .fa.loading {
        position: absolute;
        top: calc(50% - 5px);
        right: 15px;
    }

    &.header-search {
        background-color: transparent;
        padding: 0;

        .fa.loading {
            right: 1.5rem;
        }

        .search-results {
            left: 0;
        }
    }
}

.clear-search {
    position: absolute;
    right: 15px;
    color: $grey;
    cursor: pointer;
    margin-top: -3px;

    @include flex-center;

    &:hover {
        color: $grey-warm;
    }
}

form.rider-search {
    position: relative;
    max-width: 600px;
    background-color: transparent;
    align-items: stretch;
    padding: 0;

    .input-wrapper {
        label {
            height: 36px;

            svg {
                fill: $brand-purple;
            }

            .icon-form {
                min-width: 32px;
                border-right-color: $brand-purple;
            }

            .label-content {
                color: $grey-warm;
            }
        }

        input {
            height: 36px;

            &:active {
                transition: none;
            }

            &:focus {
                border: 1px solid $blueberry;
            }
        }
    }
}
