svg.icon-play-button {
    .st0 {
        clip-rule: evenodd;
        fill: #943a96;
        fill-rule: evenodd;
    }

    .st1 {
        fill: none;
        stroke: #943995;
        stroke-miterlimit: 10;
    }
}

svg.initiated {
    fill: $blueberry;

    .st0 {
        fill: #4d3b8e;
    }

    .st1 {
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 0.25;
    }
}

svg.icon-queued {
    .cls-1 {
        fill: none;
        stroke: $blueberry;
        stroke-miterlimit: 10;
        stroke-width: 2px;
    }

    .cls-2 {
        fill: $blueberry;
    }
}

svg.icon-car-suv {
    .cls-2 {
        fill: none;
    }
}

svg.icon-mobile-phone {
    .cls-1 {
        fill: $blueberry;
    }

    .cls-2 {
        fill: #fff;
    }
}

svg.car-circle {
    .st0 { fill: #8bc088; }

    .st1 { fill: #fff; }

    .st2 { fill: none;stroke: #fff;stroke-miterlimit: 10;stroke-width: 0.5; }

    .st3 { fill: none;stroke: #8bc088;stroke-miterlimit: 10; }
}

svg.circle-x {
    fill: $error-color;
}

svg.scheduled {
    fill: $blueberry;
}

svg.incomplete {
    fill: $brand-magenta;
}

svg.complete {
    fill: $success-color;
}

svg.canceled {
    .cls-1,.cls-2 {
        fill: none;
        stroke: #8bd5ea;
        stroke-miterlimit: 10;
        stroke-width: 2px;
    }

    .cls-2 {
        stroke-linecap: square;
    }
}

.tooltip-button, .contact-driver, .acknowledge, .approve, .cancel, .thumbs-up, .calendar, .check, .review-trip {
    &:hover {
        .tooltip-text {
            opacity: 1;
            visibility: visible;
        }
    }
}

.tooltip-button {
    position: relative;

    .tooltip-text {
        position: absolute;
        top: -8px;
        display: flex;
        margin: 0 auto;
    }

    &.thumbs-up .tooltip-text {
        margin-left: -20px;
    }

    &.error .tooltip-text {
        margin-left: -10px;
    }

    &.control-width .tooltip-text {
        top: -45px;
        max-width: 60px;
        margin-left: -3px;
        white-space: normal;
    }

    &.deny {
        .tooltip-text {
            margin-left: 3px;
        }

        svg {
            fill: $grey-warm;
        }
    }
}

svg.dispatch-icon {
    .cls-1, .cls-2, .cls-3 {
        fill-rule: evenodd;
    }

    .icon & {
        .cls-3 {
            fill: $brand-purple;
        }
    }
}

svg.wav-icon {
    .cls-1, .cls-3, .cls-6 {
        fill-rule: evenodd;
    }

    .cls-2 {
        fill: none;
        stroke-miterlimit: 10;
        stroke-width: 1.16px;
    }
}

svg.shared-van-icon {
    .cls-1, .cls-2, .cls-5 {
        fill-rule: evenodd;
    }
}

svg {
    .dark-grey {
        fill: #4d4d4d;
    }

    .dark-grey-stroke {
        stroke: #4d4d4d;
    }

    .light-grey {
        fill: #c0bfbf;
    }

    .lighter-grey {
        fill: #d1d3d4;
    }

    .white {
        fill: $white;
    }
}

.icon-check {
    stroke: $success-color;
    stroke-width: 1px;
}

svg.exclamation-triangle {
    .cls-1 {
        fill: none;
        stroke: #bf1d77;
        stroke-linecap: square;
        stroke-linejoin: round;
        stroke-width: 1.5px;
    }

    .cls-2 {
        fill: #bf1d77;
        fill-rule: evenodd;
    }
}

svg.reassign-ride {
    fill: $blueberry;
}
