.invoice-page {
    color: $grey-warm;

    @media screen and (max-width: $break-mobile) {
        padding: 15px 10px;
    }

    @include media(small) {
        margin-top: 2rem;
    }

    .cols {
        margin: 1rem 0;
    }

    .invoice-body {
        background-color: $white;
        font-size: 14px;
        font-weight: 500;
        padding: 20px;

        @include media(small) {
            padding: 40px;
        }
    }

    .header-wrapper {
        margin-top: 20px;

        div {
            display: inline-block;
        }

        h2, h3 {
            display: inline;
        }

        .info-pop-up {
            top: -5px;

            p {
                width: 145px;
                font-size: 11px;

                &::after {
                    left: calc(50% + 20px);
                }

                @include media(medium) {
                    bottom: -7px;
                    left: 22px;
                    width: 330px;
                    margin-left: 5px;

                    &::after {
                        @include triangle(15px, $grey-dark, left);
                        bottom: 7px;
                        left: -15px;
                    }
                }
            }
        }
    }

    .invoice-bold {
        color: $brand-purple;
        font-size: 16px;
        margin-right: 8px;

        &.flex.between {
            justify-content: space-between;
        }
    }

    .row {
        @include media(medium) {
            display: flex;
            justify-content: space-between;
        }

        &:first-of-type {
            font-size: 16px;

            h3 {
                margin-top: 20px;
                margin-bottom: 10px;

                @include media(medium) {
                    margin-top: 0;
                }
            }
        }

        &.cost-container {
            .invoice-bold {
                display: flex;
                margin: 20px 0 10px;
            }

            .column {
                @include nice-easing-animation;
                width: 100%;

                @include media(medium) {
                    width: 50%;
                }
            }
        }
    }

    .column > div {
        margin-bottom: 5px;
    }

    h3 {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    h2 {
        font-size: 24px;
        font-weight: 500;
        margin: 0;
    }

    .underline {
        border-bottom: 1px solid $iris;
        margin: 30px 0 20px;
        padding-bottom: 10px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
    }

    p {
        font-size: 13px;
    }

    .paren {
        letter-spacing: normal;
        text-transform: none;
    }

    .asterisk {
        color: $bright-pink;
        font-size: 18px;
    }

    .total {
        border-bottom: 1px solid $purple-blue;
        color: $greyish-brown;
        margin-top: 20px;
        padding-bottom: 3px;
        text-align: right;
        text-transform: uppercase;
    }

    .total-amount {
        color: $greyish-brown;
        font-weight: bold;
        margin: 12px 0 15px !important;
    }

    .download {
        margin: 5px 0 15px;

        button {
            background-color: $white;
            border: 1px solid $faded-blue;
            color: $grey-medium-dark;
            font-size: 14px;
            font-weight: 500;
            padding: 7px 10px;

            .fa {
                color: $blueberry;
                margin-right: 0;
            }
        }

        .download-options {
            width: auto;
            margin: 0 1px;
        }
    }

    .date {
        h2 {
            font-size: 24px;

            @include media(small) {
                text-align: right;
            }
        }
    }

    .flex-between.header {
        align-items: flex-start;

        @include media(small) {
            height: 93px;
        }

        @media screen and (max-width: $break-small) {
            display: block;

            .right {
                float: inherit;
            }
        }
    }

    .search-block.right .dropdown-container {
        min-width: 220px;
        height: 38px;
        margin-bottom: 5px;
    }

    .billing-code-table {
        width: 98%;
        margin: 0;

        &.nested {
            margin-top: 0;
        }

        tr, td, th {
            border: 0;
            text-align: right;
        }

        th {
            background-color: $white;
            color: $brand-purple;
            padding: 0 0 10px;
        }

        td {
            background-color: $white;
            padding: 2px !important;
        }

        td:first-of-type, th:first-of-type {
            text-align: left;
        }

        &.nested {
            width: 100%;

            th {
                border-bottom: 1px solid $faded-blue;
                padding: 5px 0;
            }

            tr:nth-child(2) td {
                padding-top: 5px !important;
            }

            th {
                height: auto;
            }

            td, th {
                text-align: center;
            }
        }
    }

    .analytics-table-wrapper {
        overflow-x: scroll;

        th {
            cursor: pointer;
        }

        .fa-info-circle {
            cursor: pointer;
            pointer-events: all;
        }
    }

    .fa.sort {
        position: absolute;
        width: 2rem;
        font-size: 1.2rem;

        &.fa-sort-asc {
            padding-top: 0.5rem;
        }
    }

    .note {
        color: $greyish-brown;
        font-style: italic;
        font-weight: bold;
        margin-top: -20px;
        margin-bottom: 20px;

        span:first-of-type {
            margin-right: 5px;
        }
    }
}

p.download-requested {
    color: $iris;
    font-size: 14px;
    font-weight: 500;
    margin-top: -10px;

    .fa {
        font-size: 16px;
    }
}
