$loadcolor1: lighten($brand-accent-color, 20%);
$loadcolor2: $white-dark;
$loadcolor3: $white;
$heartbeat: 0.99s;

@keyframes isLoading {
    0% { background-color: $loadcolor2; }

    20% { background-color: $loadcolor2; }

    35% { background-color: $loadcolor3; }

    50% { background-color: $loadcolor1; }

    100% { background-color: $loadcolor2; }
}

/*
@keyframes aStrobe {
  0%  { left:0; background-position:0 0;}
  100%  { left:1920px; background-position:-1920px 0; }
}

#heartbeat{
  display:none;
  z-index:1000;
  background-image:url('../www/images/heartbeat.png');
  background-position:0 0;
  background-repeat:no-repeat;
  background-size:1920px 100%;
  position:fixed;
  opacity:0;
  width:120px;
  height:95%;
  bottom:35px;
  transition:opacity .6s ease-in;
  animation:aStrobe $heartbeat ease-in;
  animation-iteration-count: infinite;
} */

@keyframes spin {
    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}

.content-wrapper {
    transition: opacity 0.3s ease-in;
}

$spinnerSize: 180px;
$mobileSpinnerSize: 60px;

#spinner {
    opacity: 0;
    pointer-events: none;

    transition: opacity 1s ease-out;
}

#analytics-spinner {
    opacity: 0;
    pointer-events: none;

    transition: opacity 1s ease-out;
}

/* I think it'd be awesome to eventually move to a model where the
full page spinner gets replaced with sectional spinners, depending on what
section is updating. If we set them all up like I just did with the
analytics table (an empty div at the top of the render method), we'd be able to
have one CSS spinner that gets injected into that div. Less spinner code,
and a way faster/cleaner experience. */

.analytics-table-wrapper.loading {
    background-image: none !important;

    #analytics-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1000;
        width: $spinnerSize;
        height: $spinnerSize;
        background-image: url("/images/spinner.png");
        background-repeat: no-repeat;
        background-size: $spinnerSize $spinnerSize;
        display: block;
        margin: -($spinnerSize/2.5) 0 0 (-$spinnerSize/2.5);
        opacity: 1;

        animation: spin $heartbeat ease-in-out;
        animation-iteration-count: infinite;
        transform-origin: 52.5% 50%;

        .mobile & {
            background-image: url("images/spinner.png");
        }

        @media screen and (max-width: $break-mobile) {
            width: 50px;
            height: 50px;
            background-size: 50px 50px;
            margin: -20px 0 0 -35px;
        }
    }

    #analyticsTable {
        opacity: 0.2;
    }

    .content-wrapper {
        opacity: 0;
    }

    * {
        cursor: wait !important;
    }
}

body.loading {
    background-image: none !important;

    //animation: isLoading $heartbeat ease-in-out;
    //animation-iteration-count: infinite;

    /*     #heartbeat{
  display:block;
  opacity:.5;
} */

    #spinner {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 1000;
        width: $spinnerSize;
        height: $spinnerSize;
        background-image: url("/images/spinner.png");
        background-repeat: no-repeat;
        background-size: $spinnerSize $spinnerSize;
        margin: -($spinnerSize/2) 0 0 (-$spinnerSize/2);
        opacity: 1;

        animation: spin $heartbeat ease-in-out;
        animation-iteration-count: infinite;
        transform-origin: 52.5% 50%;

        .mobile & {
            background-image: url("images/spinner.png");
        }

        @media screen and (max-width: $break-mobile) {
            width: $mobileSpinnerSize;
            height: $mobileSpinnerSize;
            background-size: $mobileSpinnerSize $mobileSpinnerSize;
            margin: -($mobileSpinnerSize/2) 0 0 (-$mobileSpinnerSize/2);
        }
    }

    .content-wrapper {
        opacity: 0;
    }

    * {
        cursor: wait !important;
    }
}

$smallSpinnerSize: 11px;

i.fa.loading {
    width: $smallSpinnerSize;
    height: $smallSpinnerSize;
    background-image: url("/images/logo-c.png");
    background-repeat: no-repeat;
    background-size: $smallSpinnerSize $smallSpinnerSize;
    color: transparent !important;
    pointer-events: none;

    animation: spin $heartbeat ease-in-out;
    animation-iteration-count: infinite;

    .mobile & {
        background-image: url("images/logo-c.png");
    }
}

.circulation-loader {
    position: absolute;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.full-height {
        height: 100vh;
    }

    > *:first-child {
        width: $spinnerSize;
        height: $spinnerSize;
        background-image: url("/images/spinner.png");
        background-repeat: no-repeat;
        background-size: $spinnerSize $spinnerSize;
        opacity: 1;
        pointer-events: none;

        animation: spin $heartbeat ease-in-out;
        animation-iteration-count: infinite;
        transform-origin: 52.5% 50%;
        transition: opacity 1s ease-out;

        .mobile & {
            background-image: url("images/spinner.png");
        }
    }

    .loader-msg {
        position: absolute;
        color: #34495e;
        margin-top: 50px;
    }

    &.mobile {
        > *:first-child {
            top: 0;
            z-index: 1;
            width: $mobileSpinnerSize;
            height: $mobileSpinnerSize;
            background-size: $mobileSpinnerSize $mobileSpinnerSize;
            display: flex;
        }
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(236, 240, 241, 0.5);
    }
}

body.custom-logo {
    .circulation-loader > div, .fa.loading, &.loading #spinner {
        background-image: url("../www/images/custom-logo-square.png");
    }
}
