.page-login {
    height: calc(100vh - 61px);

    @include media(medium) {
        height: calc(100vh - 41px);
    }
}

@keyframes onAutoFillStart {
    from { /*  */ }

    to { /*  */ }
}

.form-container {
    @include nice-easing-animation;
    position: relative;
    max-width: 360px;
    background-color: $white;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24);
    margin: 0 auto;
    padding: 30px 20px;
    perspective: 800px;

    &.forgot-password.animate .password-input {
        animation: 0.2s ease collapseAndFadeOut;
        animation-fill-mode: forwards;

        .ie11 & {
            display: none;
        }
    }

    &.forgot-password:not(.animate) .password-input {
        display: none;
    }

    &.login.animate .password-input {
        animation: 0.2s ease collapseAndFadeOut reverse;
        animation-fill-mode: forwards;
    }

    .password-input {
        margin-bottom: 20px;

        animation: 0.2s ease collapseAndFadeOut reverse;
        animation-fill-mode: forwards;

        &.hide-field {
            display: none;
        }
    }

    img {
        width: 135px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }
}

form.login-form {
    img {
        margin-bottom: 30px;
    }

    input::-ms-clear, input::-ms-reveal {
        display: none !important; // hides show/reveal password icons
    }

    input::-webkit-credentials-auto-fill-button {
        background-color: transparent; // hides autocompelte dropdown icon in safari
        pointer-events: none;
    }

    .firefox & {
        input {
            margin-bottom: 1px;
        }
    }

    input:focus ~ .validation {
        display: none;
    }

    .input-wrapper {
        margin: 0 0 20px;
    }

    #user-email {
        &:-webkit-autofill {
            animation-name: onAutoFillStart;
            transition: background-color 50000s ease-in-out 0s;
        }
    }

    .forgot-password {
        position: absolute;
        top: -2px;
        right: 0;
        color: $brand-purple;
        cursor: pointer;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .sso {
        position: relative;
        border-top: 1px solid $grey-warm;
        margin-top: 20px;
        padding-top: 15px;

        // text-align: center;
        span {
            position: absolute;
            top: -9px;
            left: 50%;
            background-color: #fff;
            color: $grey-warm;
            font-size: 13px;
            padding: 0 10px;

            transform: translateX(-50%);
        }
    }

    button {
        width: 100%;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        margin-top: 5px;
        padding: 10px 20px;
        text-transform: uppercase;

        &::before {
            content: attr(data-label);
            font-size: 13px;
        }

        .fa {
            top: calc(50% - 5px);
            display: none;
            margin-left: 10px;
        }

        &.submitting {
            padding-left: 10px;

            &::before {
                content: attr(data-label-submitting);
            }

            .fa {
                display: inline;
            }
        }
    }

    h3.validation {
        width: 100%;
    }

    .validation {
        color: $berry;
        margin-top: 10px;
        text-align: center;

        &.note {
            color: $grey-warm;
        }

        a {
            cursor: pointer;
            display: block;
            margin-top: 10px;
        }
    }

    .password-rules {
        width: 100%;
        list-style-type: disc;
        margin: 10px 0 5px;
        padding-left: 22px;

        li {
            width: 100%;
            color: $berry;
            line-height: normal;

            span {
                color: $grey;
                font-size: 1.3rem;
            }
        }

        &.error {
            list-style-type: none;
            margin-left: 0.5rem;

            span, li {
                color: $berry;
            }
        }
    }

    .login-icon-wrapper {
        position: absolute;
        top: 145px;
        right: 27px;
        height: 26px;
        color: #832b7b;
        cursor: pointer;
        font-size: 2rem;

        &.disabled {
            cursor: default;
            opacity: 0.5;
        }
    }
}

.half-page-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 44vh;
    background-image: linear-gradient(to left, #4d3a8e, #832b7b, #4d3a8e, #832b7b);
    background-size: 300% 100%;
    box-shadow: 0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24);
    opacity: 0.9;

    animation: gradientAnimation 40s ease infinite;
}

.password-eye {
    position: absolute;
    right: 12px;
    bottom: 9px;
    color: $grey-warm;
}

.reset-password-link {
    cursor: pointer;
    display: block;
    font-size: 13px;
    margin: 15px 0 -10px 0;
    text-align: center;
}

.single-sign-on {
    height: 100%;
}

.org-logo-list {
    position: relative;
    width: 620px;
    background-color: white;
    box-shadow: 0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24);
    margin: 0 auto;
    overflow: auto;
    padding-bottom: 50px;

    transform: translateY(50%);

    .org-list-header {
        position: relative;
        width: 95%;
        border-bottom: 1px solid $grey-medium-dark;
        margin: 0 auto;
        margin-bottom: 30px;
        padding-top: 10px;

        h3 {
            color: $grey-medium-dark;
            font-size: 1.3em;
            font-weight: 500;
            margin: 10px 0;
        }
    }

    .org-container {
        @include nice-easing-animation;
        position: relative;
        width: 40%;
        background-color: white;
        margin: 0 auto;
        padding: 2%;
        text-align: center;

        img {
            margin-bottom: 10px;
        }

        h4 {
            color: $grey-medium-dark;
            margin-bottom: 0;
        }

        &:hover {
            box-shadow: 0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24);
            cursor: pointer;
        }
    }
}
