.uber-map-container-wrapper {
    width: 100%;
    height: 450px;
    max-height: 450px;
    overflow: hidden;

    iframe {
        border: none;
        margin-top: -143px;
    }
}

$resting-width: 450px;
$resting-height: 500px;
$expanded-size: 960px;

.flat-map-container-wrapper {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;

    transition: all 0.25s ease-in-out;

    img {
        .ie11 & {
            z-index: 0;
            width: 100%;
        }
    }

    @include media(medium) {
        cursor: zoom-in;

        &.expanded {
            right: 0;
            z-index: 100;
            width: 200%;
            min-height: calc(100% - 75px);
            background-color: rgba(255, 255, 255, 1);
            background-position: center right;
            background-size: contain;
            cursor: zoom-out;
            align-items: flex-start;
            margin-left: -100%;

            + div {
                display: none;
            }
        }
    }
}

.map-wrapper.directions-error {
    .map-canvas::after {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: $white-dark;
        color: $greyish-brown;
        content: 'Warning: Unable to load directions from Google Maps.';
        font-size: 10px;
        padding: 2px 5px;
    }
}

.live-map-container {
    height: 100vh;

    .map-wrapper, .map-canvas {
        height: 100%;
    }

    .header {
        position: fixed;
        top: 0;
        z-index: 3000;
        width: 100%;
        height: 56px;
        background-color: $brand-purple;
        display: flex;
        align-items: center;

        img {
            height: 32px;
            margin-left: 10px;
        }

        @include media(small) {
            display: none;
        }
    }

    .ride-blurb {
        position: fixed;
        bottom: 0;
        z-index: 2000;
        width: calc(100% - 20px);
        max-width: 483px;
        background-color: $greyish-brown;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        color: $white;
        margin: 10px;

        @include media(small) {
            top: 28px;
            bottom: auto;
            left: 32px;
            width: 483px;
            border-radius: 3px;
            margin: 0;
        }

        p {
            margin: 0;
        }

        .logo {
            position: absolute;
            top: 25px;
            right: 25px;
            width: 100px;
            height: auto;
            display: none;

            @include media(small) {
                display: block;
            }
        }

        .section {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 15px;

            .rider-eta {
                min-width: 50px;
                border-left: 1px solid $grey-very-light;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                font-weight: 400;
                padding-left: 15px;
                text-transform: uppercase;

                div {
                    font-size: 26px;
                    font-weight: 500;
                    margin-bottom: -4px;
                }
            }

            .rider-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-transform: uppercase;

                .status-text {
                    color: #d7d7d7;
                }
            }

            &.driver {
                justify-content: flex-start;
                padding-bottom: 20px;
                padding-left: 10px;

                .driver-info {
                    @include flex-column;
                    color: #e8e8e8;
                    align-items: flex-start;
                    font-size: 14px;
                }
            }
        }
    }
}

.driver-name {
    font-size: 16px;
    text-transform: uppercase;
}

.driver-details .driver-rating {
    z-index: 10;
    width: 100%;
    min-height: 14px;
    background-color: $white;
    border: 1px solid $grey-warm-darker;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 500;
    margin-top: -6px;

    .fa {
        font-size: 10px !important;
        margin: 0 !important;
    }

    span {
        width: 100%;
        padding: 0 0.5rem;
        text-align: center;
    }

    span:last-of-type {
        border-left: 1px solid $grey-warm-darker;
    }
}

.driver-avatar {
    @include flex-column;
    position: relative;
    width: 57px;
    height: 57px;
    margin: 3px 20px 10px 10px;

    .img-holder {
        @include flex-center;
        width: 45px;
        min-width: 45px;
        height: 45px;
        min-height: 45px;
        border-radius: 100%;
        overflow: hidden;

        @include media(small) {
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
        }

        img {
            max-width: inherit;
            height: 100%;

            &.broken {
                display: none;
            }
        }

        svg {
            width: 100%;
            height: 100%;
            max-height: inherit;
            background-color: $white-dark;
            border: 2px solid $brand-purple;
            border-radius: 100%;
            margin-right: 0;
            padding: 5px;

            transform: none !important;

            .st0 {
                fill: $brand-purple;
            }

            .st3 {
                stroke: $brand-purple;
            }
        }
    }
}

.form-block-trip-map-wrapper {
    position: relative;

    .in-transit-overlay {
        @include flex-center;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.45);
        border-radius: 3px;
        flex-direction: column;

        h3, a {
            color: $white;

            @include nice-easing-animation;
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        i {
            font-size: 12px;
            margin-right: 5px;
        }

        a:hover {
            letter-spacing: 0.5px;
        }
    }
}

// override some google maps styles:
button.gm-fullscreen-control {
    white-space: normal;
}

.gm-style-mtc div {
    height: 30px !important;
    font-size: 13px !important;
    padding: 0 10px !important;

    + div {
        display: none !important;
    }
}
