.styled-dropdown {
  overflow: visible;
  transition: .2s $sweetEasing max-height;
  &.disabled {
    pointer-events: none;
  }
  .hitBox {
    z-index: 0;
  }
  &:not(.active) {
    max-height: 34px;
  }
  &.active {
    max-height: calc(186px + 55px);
    z-index: 1;
  }
  margin-right: 10px;
  &:last-of-type {
    margin-right: 0;
  }
  .click-catcher { // this is for Edge and Firefox, where a disabled input does not propagate a click
    height: 32px;
    width: 100%;
  }
  .dropdown-options {
    transition: .2s $sweetEasing max-height, .5s $sweetEasing padding;
    border-top: 1px solid $faded-blue;
    max-height: 205px;
    overflow-y: scroll;
    background-color: $white;
    width: 100%;
    position: relative;
    z-index: 1650;
    label {
      white-space: nowrap;
    }
    .options {
      display: flex;
      flex-direction: column;
      .option {
        color: $grey-medium-dark;
        font-size: 14px;
        padding: .5rem 1rem;
        cursor: pointer;
        &:hover {
          background-color: $white-dark;
        }
        &.disabled {
          pointer-events: none;
          color: $pinkish-grey;
        }
      }
    }
    &.collapsed {
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
      margin: 0;
      overflow-y: hidden;
    }
  }
}

.reassign {
  .selected {
    background-color: #c9c9fb;
  }
}

.date-dropdowns {
  .validation {
    font-size: 12px;
    bottom: -17px;
    margin-bottom: 0;
  }
  .input-wrapper {
    z-index: 3;
    min-width: inherit;
  }
  @media screen and (max-width: $break-small) {
    flex-direction: column;
    > div {
      margin-bottom: 10px;
    }
    .validation {
      bottom: -13px;
    }
  }
}

.height-weight-inputs {
  flex-wrap: wrap;
  > div:first-of-type, div.flex {
    width: 100%;
  }
  @include media(small) {
    flex-wrap: nowrap;
    > div:not(:last-of-type) {
      margin-right: 15px;
    }
  }
  .flex.center {
    max-height: 36px;
    align-items: flex-start;
    .input-wrapper {
      margin-right: 3px;
      min-width: 62px;
      width: 62px;
      padding-left: 1px;
    }
    .dropdown-units {
      color: $greyish-brown;
      font-size: 14px;
      font-weight: 500;
      margin-top: 10px;
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
  .edit-form-section & {
    h3 {
      margin-top: 0;
    }
    > div:last-of-type {
      margin-top: 20px;
      @include media(small) {
        margin-top: 0;
      }
    }
  }
}
