$tooltip-icon-size: 20px;
$tooltip-font-size: 12px;
$tooltip-margin-left: 5px;

*[data-tooltip] {
    position: relative;
    cursor: help;

    &::after {
        position: absolute;
        top: -($tooltip-icon-size/6);
        left: 100%;
        width: $tooltip-icon-size+$tooltip-margin-left;
        max-width: $tooltip-icon-size+$tooltip-margin-left;
        height: $tooltip-icon-size;
        background-image: url('../www/images/question.svg');
        background-position: $tooltip-margin-left 0;
        background-repeat: no-repeat;
        background-size: $tooltip-icon-size;
        border-radius: $tooltip-icon-size/2;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0);
        content: ' ';
        cursor: help;
        display: block;
        font-size: $tooltip-font-size;
        font-weight: normal;
        overflow: hidden;
        padding: ($tooltip-icon-size/2 - $tooltip-font-size/2) 0 0 0;
        white-space: nowrap;

        transition: all 0.25s ease-out;
    }

    &:hover {
        &::after {
            width: auto;
            max-width: 1024px;
            background-color: $brand-accent-color;
            background-position: 0 0;
            color: #000;
            content: attr(data-tooltip);
            padding-right: $tooltip-icon-size/2;
            padding-left: $tooltip-icon-size+($tooltip-icon-size/4);
        }
    }
}
