// @extend %button for left-to-right hover effect
%button {
    position: relative;
    background: $brand-purple;
    border: none;
    border-radius: 3px;
    color: $white;
    display: inline-block;
    font-family: $font;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1.8rem 3.8rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;

    transition: all 0.25s ease-in-out;

    @include media(xlarge) {
        font-size: 1.9rem;
    }

    &:hover,
    &:focus {
        background: $brand-purple-dark;
    }

    &:disabled {
        background-color: #e5e5e5;
        color: $pinkish-grey;

        svg,
        svg > svg {
            opacity: 0.9;
            fill: $grey-warm-darker;
        }
    }
}

button,
a.button,
input.button,
input[type='submit'] {
    @extend %button;
    -webkit-appearance: none;
    user-select: none;

    &.shadow {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        font-size: 12px;
        font-weight: bold;
        padding: 1.2rem 3.5rem;
        text-transform: uppercase;

        &:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }

    &.error {
        background: $error-color;
        color: $white !important;

        &:hover {
            background-color: #cc0707;
        }

        &.loading {
            @include loading-button-red(1s);
            pointer-events: none;
        }
    }

    &.approve {
        background: $brand-grape;

        &:hover {
            background: darken($brand-grape, 5%);
        }
    }

    &.modify {
        background: $brand-accent-color;
        color: $grey-dark;

        &:hover {
            background: darken($brand-accent-color, 5%);
        }
    }

    &.cancel {
        background: $brand-magenta;

        &:hover {
            background: darken($brand-magenta, 5%);
        }
    }

    &.iris {
        background-color: $iris;
        color: $white;

        &:hover {
            background: darken($iris, 5%);
        }

        &:disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }

    &.alternate {
        background: $greyish-brown;

        &:hover {
            background: darken($grey-dark, 10%);
        }
    }

    &.btn-small {
        font-size: 1.2rem;
        padding: 10px 15px;
    }


    &.new-style {
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 0.5px;
        padding: 10px 15px;
        text-transform: uppercase;
    }

    &.new-style-secondary {
        width: auto;
        background-color: $white;
        border: solid 1px $faded-blue;
        color: $grey-dark;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 8px;
        vertical-align: middle;

        i {
            color: $blueberry;
            font-size: 1.5rem;
            margin-right: 5px;
        }

        &:hover {
            background-color: $white;
            border: solid 1px $blueberry;
        }

        &:disabled {
            opacity: 0.6;
            pointer-events: none;
        }
    }

    &.outline {
        background-color: $white;
        border: 2px solid $success-color;
        color: $greyish-brown;

        &:disabled {
            pointer-events: none;
        }

        &.loading {
            @include loading-button-green(1s);
        }
    }
}

.button-wrapper {
    button,
    .button,
    input[type='submit'] {
        width: calc(50% - 40px);

        @media screen and (max-width: $break-mobile) {
            width: calc(100% - 40px);
        }
    }
}

// datetimepicker
.xdsoft_datetimepicker {
    max-width: 310px;
}

.xdsoft_timepicker {
    margin-top: 9px !important;
}

#datetimepicker-booknow {
    width: calc(100% - 9px);
    background-color: $brand-purple;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    margin-top: 10px !important;
    margin-left: 8px !important;
    text-align: center;
    vertical-align: bottom;
}

.tabs {
    width: 100%;
    display: flex;

    .tab {
        width: 100%;
        background-color: $blueberry;
        border-top: 2px solid transparent;
        border-bottom: 0;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        overflow: hidden;
        padding: 1.3rem;
        text-overflow: ellipsis;
        white-space: normal;

        transition: none;

        @include media(medium) {
            height: 40px;
            padding: 0;
        }

        svg {
            width: 21px;
            height: 21px;
            margin: -2px 10px 0 0;
            vertical-align: middle;
            fill: $white;

            &.car-circle {
                .st0 {
                    fill: $white;
                }

                .st3 {
                    stroke: $white;
                }

                .st1 {
                    fill: $blueberry;
                }

                .st2 {
                    stroke: $blueberry;
                }
            }
        }

        &.active {
            background-color: $white;
            border-top: 2px solid $blueberry;
            border-right: 1px solid $blueberry;
            border-left: 1px solid $blueberry;
            color: $blueberry;
            font-weight: bold;

            &:hover {
                background-color: $white;
                color: $blueberry;
            }

            + .tab {
                border-left: 0;
            }

            svg {
                fill: $blueberry;

                &.car-circle {
                    .st0 {
                        fill: $blueberry;
                    }

                    .st3 {
                        stroke: $blueberry;
                    }

                    .st1 {
                        fill: $white;
                    }

                    .st2 {
                        stroke: $white;
                    }
                }
            }
        }

        &:not(.active) {
            border-left: 1px solid $white-dark;

            &:first-of-type {
                border-left: 0;
            }
        }

        &:first-of-type.active {
            border-left-color: transparent;
        }

        &:last-of-type.active {
            border-right: 0;
        }

        &:hover {
            background-color: darken($blueberry, 5%);
            color: $white;
        }
    }
}

.pill-wrapper {
    background-color: none;
    display: inline-block;

    transition: background-color 0.2s ease;

    div {
        background-color: none;
    }

    .tooltip-text {
        &:hover {
            background-color: #fff;
        }
    }

    &:hover:not(.loading) {
        cursor: pointer;

        .tooltip-text {
            z-index: 2147483647;
            background-color: none;
            opacity: 1;
            visibility: visible;
        }
    }

    &:hover:not(.disabled),
    &.faux-hover:not(.disabled) {
        .filter-pill {
            opacity: 1;
        }

        .processing,
        .in-transit,
        .completed {
            background-color: #ebf7eb;

            .st1 {
                fill: #cae5c8;
            }

            .st2 {
                stroke: #cae5c8;
            }
        }

        .canceled_past,
        .canceled_future,
        .canceled {
            background-color: #e5f8fc;
        }

        .incomplete {
            background-color: #fae6f2;
        }

        .initiated,
        .scheduled,
        .queued,
        .no-driver {
            background-color: #efebff;
        }
    }

    &.loading {
        cursor: default;

        .filter-pill {
            &.initiated,
            &.scheduled,
            &.queued,
            &.no-driver {
                @include loading-button-iris(0.5s);
            }

            &.processing,
            &.in-transit,
            &.completed {
                @include loading-button-green(0.5s);
            }

            &.incomplete {
                @include loading-button-pink(0.5s);
            }

            &.canceled_past,
            &.canceled_future,
            &.canceled {
                @include loading-button-light-blue(0.5s);
            }
        }
    }

    &.selected {
        &:not(.loading) {
            .tooltip-text:hover {
                background-color: #fff;
            }

            .pill:hover {
                background-color: inherit;
            }

            .filter-pill {
                background-color: #8bc087;
                opacity: 1;

                &.incomplete {
                    background-color: #be1d77;

                    span {
                        color: white;
                    }

                    .cls-3 {
                        fill: white;
                    }

                    :hover {
                        background-color: #be1d77;
                    }
                }

                &.canceled_past,
                &.canceled_future,
                &.patient_initiated,
                &.canceled {
                    background-color: #8bd5ea;

                    span {
                        color: white;
                    }

                    .cls-1,
                    .cls-2 {
                        stroke: white;
                    }

                    :hover {
                        background-color: #8bd5ea;
                    }
                }

                &.initiated,
                &.scheduled,
                &.queued,
                &.no-driver {
                    background-color: $blueberry;

                    :hover {
                        background-color: $blueberry;
                    }

                    .st0 {
                        fill: $white;
                    }

                    .st1 {
                        stroke: $blueberry;
                    }
                }

                span {
                    color: white;
                }

                svg {
                    fill: white;

                    &.icon-queued {
                        .cls-2 {
                            fill: $white;
                        }

                        .cls-1 {
                            stroke: $white;
                        }
                    }
                }
            }

            .car-icon {
                .car-circle {
                    .st0 { fill: $white; }

                    .st1 { fill: $success-color; }

                    .st2 { stroke: $success-color; }

                    .st3 { stroke: $white; }
                }
            }

            :hover {
                background-color: #8bc087;
            }
        }
    }

    &.disabled:not(.loading) {
        cursor: default;
        opacity: 0.75;
        filter: grayscale(0.2);
    }
}

.filter-pill {
    min-width: 75px;
    height: 33px;
    background-color: #f8f8f8;
    border-radius: 40px;
    margin: 0 10px 0 0;
    opacity: 1;
    padding: 0 12px;
    white-space: nowrap;

    .number-of-rides {
        font-size: 1.5rem;
    }

    .icon-style {
        width: 30px;
        margin-bottom: -10px;
    }

    .car-icon {
        width: 25px;
    }

    .not-car {
        width: 20px;

        circle {
            display: inline-block;
        }
    }

    &.processing,
    &.in-transit {
        border: 2px solid #8bc087;

        span {
            color: #8bc087;
        }
    }

    &.canceled_past,
    &.canceled_future,
    &.canceled {
        border: 2px solid #87daee;

        span {
            color: #87daee;
        }
    }

    &.incomplete {
        border: 2px solid #be1d77;

        span {
            color: #be1d77;
        }
    }

    &.completed {
        border: 2px solid #8bc087;

        svg {
            fill: #8bc087;
        }

        span {
            color: #8bc087;
        }
    }

    &.initiated,
    &.scheduled,
    &.queued,
    &.no-driver {
        border: 2px solid $blueberry;

        span {
            color: $blueberry;
        }
    }

    &.no-driver svg {
        fill: $blueberry;
    }
}
