$input-background-color: $white;

select::-ms-expand {
    display: none;
}



input,
textarea,
select {
    @media screen and (max-width: $break-mobile) {
        font-size: 16px !important;
    }
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    background: $white-dark;
    border: 3px solid transparent;
    border-radius: 0;
    color: $grey;
    display: block;
    font-family: $font;
    font-weight: 500;
    margin: 0;
    outline: none;
    padding: 10px;
    padding-left: 64px;

    &::-ms-clear { width: 0; height: 0; display: none; }

    &.error {
        border: 3px solid $error-color;
    }

    &:disabled {
        color: $grey-very-light;
    }

    &.small {
        padding: 11px;
        padding-left: 64px;
    }

    @include media(small) {
        padding: 12px;
        padding-left: 64px;
    }
    @include media(medium) {
        padding: 15px;
        padding-left: 64px;
    }

    &.new-style {
        background: $white;
        border: 1px solid $faded-blue;
        border-radius: 2px;
        color: $black;
        font-size: 14px;
        font-weight: 500;

        &:focus {
            border-color: $blueberry;
        }

        &::placeholder {
            color: $grey-medium-light;
        }
    }
}

select.vtype {
    text-transform: none;
}

.input-wrapper.emphasized {
    animation: 1.5s ease-out forwards emphasize;
}

input,
.textarea-as-text-feild textarea {
    width: 100%;
    float: right;

    &:focus + label .label-content,
    &.filled + label .label-content {
        opacity: 0;

        transform: translate3d(100px, 2px, 0);
    }

    &:disabled + label .label-content {
        color: $grey-very-light;
    }

    &:focus + label .icon-form,
    &.filled + label .icon-form {
        opacity: 1;

        transform: translate3d(-3px, 2px, 0);
    }

    &:disabled + label .icon-form svg {
        fill: $grey-very-light;
    }

    .tight & {
        & + label .icon-form {
            transform: translate3d(-55px, 3px, 0);
        }

        &:focus + label .icon-form,
        &.filled + label .icon-form {
            transform: translate3d(-3px, 3px, 0);
        }
    }
}

input[type="text"],
input[type="phone"],
input[type="email"],
input[type="password"] {
    text-overflow: ellipsis;

    + label {
        height: 45px;
        display: flex;
        align-items: center;

        @include media(small) {
            height: 49px;
        }
        @include media(medium) {
            height: 53px;
        }
    }
}

label {
    position: absolute;
    width: 100%;
    color: $grey;
    float: right;
    font-weight: 700;
    padding: 0 1em;
    user-select: none;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 55px;
        height: 45px;
        background: $white-dark;
        border-right: $dotted-border;
        content: "";

        @include media(small) {
            height: 49px;
        }
        @include media(medium) {
            height: 55px;
        }

        .error & {
            border-right: 1px dotted lighten($error-color, 15%);
        }
    }

    .label-content {
        position: relative;
        width: auto;
        color: $grey;
        cursor: text;
        display: inline-block;
        font-size: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        transform: translate3d(15px, 0, 0);
        transition: transform $trans-dur $inputEasing, opacity $trans-dur $inputEasing;

        @include media(small) {
            font-size: 90%;

            transform: translate3d(15px, 2px, 0);
        }
        @include media(medium) {
            font-size: 100%;
        }
    }

    .icon-form {
        display: inline-block;
        opacity: 0;

        transform: translate3d(-55px, 2px, 0);
        transition: transform $trans-dur $inputEasing, opacity $trans-dur $inputEasing;

        svg {
            width: 30px;
            height: 30px;
            fill: $grey;
        }
    }
}

.select-label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 55px;
    height: 45px;
    background: $white-dark;
    border-right: $dotted-border;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(small) {
        height: 49px;
    }
    @include media(medium) {
        height: 53px;
    }

    .select-icon {
        // position: absolute;
        height: 30px;
        opacity: 0;

        transform: translate3d(-55px, 0, 0);
        transition: transform $trans-dur $inputEasing, opacity $trans-dur $inputEasing;

        svg {
            width: 30px;
            height: 30px;
            fill: $grey;
        }
    }
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";

    // Makes the select elements act like the input elements
    &.filled + .select-label .select-icon {
        opacity: 1;

        transform: translate3d(0, 0, 0);
    }

    &:disabled + .select-label {
        color: $grey-very-light;

        .select-icon svg {
            fill: $grey-very-light;
        }
    }

    &:disabled + .select-label + .select-arrow {
        @include triangle(10px, $grey-very-light, down);
    }
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    pointer-events: none;

    @include triangle(10px, $grey, down);
}

textarea {
    height: 100%;
    min-height: 200px;
    padding-left: 15px;
    -ms-overflow-style: none;
    resize: none;

    &.new-style {
        min-height: 72px;
        padding: 10px;
    }

    .textarea-as-text-feild & {
        height: 56px;
        min-height: 56px;
        overflow-y: auto;
        padding-left: 64px;
        scrollbar-3dlight-color: $brand-accent-color;
        scrollbar-arrow-color: $grey-dark;
        scrollbar-base-color: $brand-accent-color;
        scrollbar-base-color: $brand-accent-color;
        scrollbar-dark-shadow-color: $brand-accent-color;
        scrollbar-highlight-color: $brand-accent-color;
        scrollbar-shadow-color: $brand-accent-color;
        scrollbar-track-color: $grey-very-light;

        // custom scrollbar styling
        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            -moz-appearance: scrollbartrack-vertical;
            background: $grey-very-light;
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb:window-inactive {
            background: $grey;
            border-radius: 0;
        }

        &::-webkit-scrollbar-thumb {
            background: $brand-accent-color;
            border-radius: 0;
        }
    }
}

.checkbox-wrapper {
    overflow: visible;

    &.small {
        width: 270px;
        margin-top: 10px;
    }
}

.tooltip-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .tooltip-text {
        position: absolute;
        bottom: 100%;
        max-width: 100%;
        margin: 0;
        text-transform: none;
        white-space: normal;

        transition: 0.3s ease all;

        &::after {
            content: none;
        }
    }

    .tooltip-arrow {
        bottom: calc(127%);
        left: calc(50% - 8px);
        z-index: 5;
    }

    &:hover {
        .lock-tooltip-wrapper,
        .tooltip-arrow {
            opacity: 1;
            visibility: visible;
        }

        .tooltip-text {
            bottom: calc(100% + 16px);
        }
    }
}

.tooltip-wrapper .tooltip-text,
.lock-tooltip {
    z-index: 5;
    background-color: $white;
    border-radius: 5px;
    padding: 5px 10px;

    span {
        position: relative;
        z-index: 6;
        background-color: $white;
        color: $greyish-brown;
        display: block;
        font-size: 14px;
        font-weight: 500;
        padding: 4px 0;
    }
}

.tooltip-wrapper,
.input-lock-wrapper {
    &:hover {
        .lock-tooltip-wrapper,
        .tooltip-arrow,
        .tooltip-text {
            opacity: 1;
            visibility: visible;

            transition: 0.3s ease all;
        }

        .lock-tooltip-wrapper {
            bottom: 36px;
        }
    }
}

.tooltip-arrow {
    position: absolute;
    z-index: 3;
    width: 16px;
    height: 16px;
    background-color: $white;
    box-shadow: 2px 1px 3px -1px $grey;
    visibility: hidden;

    transform: rotate(45deg);
}

.input-lock-wrapper {
    position: absolute;
    top: 5px;
    left: -18px;
    z-index: 3;

    .lock-tooltip-wrapper {
        position: absolute;
        bottom: 24px;
        left: -36px;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 1px 1px 3px $grey;

        transition: 0.3s ease all;

        @media screen and (max-width: $break-mobile) {
            left: -15px;
        }
    }

    .lock-tooltip {
        position: relative;

        @include media(small) {
            white-space: nowrap;
        }
    }

    .tooltip-arrow {
        top: -22px;
        left: 2px;
    }

    .input-lock {
        width: 18px;
        height: 18px;

        svg {
            fill: $grey;
        }
    }

    .lock-tooltip-wrapper,
    .tooltip-arrow {
        opacity: 0;
        visibility: hidden;
    }
}

.checkbox-new {
    position: relative;
    height: 32px;
    background-color: $white;
    border: 1px solid rgba(120, 99, 191, 0.5);
    border-radius: 3px;
    padding: 5px 12px 4px 8px;
    text-align: left;
    white-space: nowrap;

    transition: 0.2s ease all;

    .symbol-wrapper {
        position: relative;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 8px;
        pointer-events: none;
        vertical-align: middle;
    }

    .empty-box {
        width: 100%;
        height: 100%;
        border: 1px solid $faded-blue;
        border-radius: 1px;
    }

    .checkbox-check {
        position: absolute;
        top: -1px;
        width: 12px;
        max-height: 12px;

        svg.icon-check {
            stroke: $white;
        }
    }

    .checkbox-label {
        font-size: 1.3rem;
        font-weight: 500;
        pointer-events: none;
        vertical-align: middle;
    }

    &:hover {
        background-color: $white;
        border: 1px solid $faded-blue-hover;
        cursor: pointer;
    }

    &.checked {
        background-color: $iris;
        border: 1px solid $iris;
        color: white;

        svg {
            fill: $white;
        }

        &.disabled {
            background-color: $faded-blue-hover;
            color: $white;

            &:hover {
                background-color: $faded-blue-hover;
            }
        }

        &:hover {
            background-color: $blueberry;
        }
    }

    &.disabled {
        background-color: $white-medium-dark;
        border-color: $titan-white;
        color: $grey;
        cursor: auto;
        pointer-events: none;

        .empty-box {
            border-color: $titan-white;
        }

        &:hover {
            cursor: normal;
        }
    }
}

input.check-toggle {
    position: relative;
    width: 50px;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $grey;
    background-clip: padding-box;
    border-color: transparent;
    border-radius: 1.5rem;
    color: $grey-dark;
    display: inline-block;
    float: none;
    margin-right: 6px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;

    &:checked {
        background-color: $bright-green;
        color: white;

        .checkbox-wrapper & {
            animation: 0.5s ease-out forwards switch-off-color;
        }

        &::before {
            transform-origin: left center;

            .checkbox-wrapper & {
                animation: 0.25s ease-out forwards switch-on;
            }
        }

        + label.check-toggle-label {
            color: $greyish-brown;
        }
    }

    &:disabled {
        background-color: rgba($pinkish-grey, 0.7);
        color: $grey;
        pointer-events: none;

        .checkbox-wrapper & {
            animation: none;
        }

        + label.check-toggle-label {
            color: $grey-very-light;
        }

        &::before {
            background-color: $pinkish-grey;
        }
    }

    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 18px;
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0 2px 2px 0 $grey-warm;
        content: "";
        margin: 0.2rem;

        .checkbox-wrapper & {
            animation: 0.25s ease-out forwards switch-off;
        }
    }

    &:focus {
        outline: none;
    }
}

.check-toggle-icons {
    position: absolute;
    top: 6px;
    left: 7px;
    z-index: 0;
    pointer-events: none; // allowed onChange to fire anywhere the toggle is clicked

    .firefox & {
        display: none;
    }

    .ie11 & {
        display: none;
    }

    svg {
        width: 18px;
        height: 16px;
        fill: $white;

        .icon-check {
            fill: $white;
            stroke: $white;
        }

        &#icon-window-close {
            fill: $white;
        }
    }
}

label.check-toggle-label {
    position: relative;
    width: initial;
    color: $grey-warm;
    float: none;
    font-size: 14px;
    font-weight: 500;
    padding: 0;

    input.check-toggle:checked + & {
        span {
            opacity: 0;
            visibility: hidden;

            &.show {
                opacity: 1;
                visibility: visible;

                .fa-lock {
                    margin-left: 1rem;
                }
            }
        }
    }

    span {
        @include base-animation();
        opacity: 1;
        visibility: visible;
    }

    &::before {
        display: none;
    }
}

label.error {
    position: absolute;
    top: 0;
    right: 0;
    height: 37px;
    background-color: $error-color;
    color: $white;
    float: right;
    font-size: 14px;
    margin: 8px 0 25px;
    padding: 10px 15px 5px 5px;

    &::before {
        position: absolute;
        top: 0;
        left: -30px;
        width: 30px;
        height: 37px;
        background: url("../www/images/error-tab.png") no-repeat;
        content: "";
    }

    &.valid {
        display: none !important;
    }
}

input.styled-checkbox,
input.styled-radio {
    display: none;

    &:checked + label.styled-checkbox-label,
    &:checked + label.styled-radio-label {
        border-color: $bright-green;

        &::after {
            background: $bright-green;

            transform: scale(0.63) translateY(-21px);

            .ie11 & {
                padding: 5px 15px;

                -ms-transform-origin: 47% -44%; // THIS IS FOR IE ONLY. Don't remove prefix
            }

            .firefox & {
                transform: scale(0.63) translateY(-19px);
            }
        }

        &.disabled {
            border-color: $grey-warm-darker;
            cursor: default;

            &::after {
                background: $grey-warm-darker;
            }
        }
    }
}

$checkbox-size: 30px;

label.styled-checkbox-label,
label.styled-radio-label {
    position: relative;
    width: $checkbox-size;
    height: $checkbox-size;
    border: ($checkbox-size / 10) solid #7a7a7a;
    border-radius: 50%;
    color: $grey;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: none;
    margin: 20px 25px 0;
    padding: 0;

    transition: 0.2s;

    &.disabled {
        border-color: $grey-warm-darker;
        cursor: default;
    }

    &::before {
        position: relative;
        top: -15px;
        width: initial;
        max-width: 60px;
        height: initial;
        min-height: 25px;
        background: none;
        border: none;
        content: attr(data-label);
        display: block;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;

        .ie11 & {
            top: -35px;
        }
    }

    &::after {
        min-width: $checkbox-size;
        min-height: $checkbox-size;
        background: $bright-green;
        border-radius: 50%;
        content: "";

        transform: scale(0) translateY(-9px);
        transition: 0.2s;
    }
}

.rider-search-loader {
    position: absolute;
    right: 0;
    height: 100%;
    color: $brand-purple-dark;
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-right: 1rem;
}

#rider-additional-information-form {
    h3 {
        margin-bottom: 20px;
    }

    .datetime-radio-wrapper {
        display: flex;
    }
}

.input-wrapper.mini {
    margin-top: 0;

    input {
        padding: 4px;
        padding-left: 35px;

        &.filled + label .icon-form,
        &:focus + label .icon-form {
            transform: translate3d(0, 0, 0);
        }

        &:focus + label .label-content {
            transform: translate3d(100px, 0, 0);
        }
    }

    label {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;

        &::before {
            width: 30px;
            height: 100%;
        }

        .label-content {
            font-size: 80%;

            transform: translate3d(15px, 0, 0);
        }

        .icon-form {
            display: flex;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }

    &.hide-icon {
        input {
            padding-left: 10px;
        }

        label {
            &::before {
                content: none;
            }
        }

        .icon-form {
            svg {
                display: none;
            }
        }
    }
}

.subsection-header,
.benefit-plan-form {
    width: 100%;

    .ride-title {
        display: inline-block;
    }

    .pulled-right {
        float: right;
    }

    .delete-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        transform: translateX(0);

        p.delete {
            color: $brand-purple;
            display: inline-block;
            font-size: 1.2rem;
            margin-right: 5px;
            margin-bottom: 0;
            vertical-align: middle;
        }

        svg {
            width: 15px;
            height: 15px;
            vertical-align: middle;

            svg.circle-x {
                fill: $brand-purple;
            }
        }

        &:hover {
            p {
                color: $brand-purple-dark;
            }

            svg.circle-x {
                fill: $brand-purple-dark;
            }
        }

        &.loading {
            cursor: wait;

            svg {
                fill: $grey;
            }
        }
    }
}

.benefit-plan-form {
    .delete-button {
        display: inline-block;
        float: right;
        margin-bottom: 0;
    }
}

// New input styles
.input-wrapper:not(.old-style) {
    text-overflow: ellipsis;

    label {
        height: 32px;
        color: $grey-medium-light;
        font-size: 12px;
        font-weight: 500;
        padding: 0;

        @include media(large) {
            font-size: 14px;
        }

        svg {
            width: 18px;
            height: 18px;
            fill: $grey-warm-darker;
        }

        .icon-form {
            width: 32px;
            border-right: 1px solid $grey-warm-darker;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 1;

            transform: none;
        }

        .label-content {
            color: $grey-medium-light;
            font-size: 14px;
            font-weight: 500;
            padding-left: 8px;

            transform: none;
        }

        &::before {
            content: none;
        }
    }

    .select-label {
        width: 0;
        border-right: 0;
    }

    .select-arrow {
        @include triangle(9px, $greyish-brown, down);
        top: 45%;
        right: 15px;
        cursor: pointer;
    }

    select,
    input {
        height: 32px;
        background-color: $white;
        border: 1px solid $faded-blue;
        border-radius: 3px;
        color: $black;
        font-size: 14px;
        font-weight: 500;
        padding: 0 0 0 40px;

        transition: all 0.2s ease;

        &:hover {
            border: 1px solid $faded-blue-hover;
        }

        &:focus {
            border: 1px solid $blueberry;
        }

        &:disabled {
            border-color: $cloudy-blue;
            color: $grey;

            &::placeholder {
                color: $grey;
            }
        }
    }

    select {
        padding: 0 35px 0 10px;

        &.non-selected {
            color: $grey-medium-light;
        }
    }

    &.styled-dropdown {
        border: solid 1px $faded-blue;
        border-radius: 3px;
        margin-top: 0;

        &:hover {
            border: 1px solid $faded-blue-hover;
        }

        &.active {
            border: 1px solid $blueberry;
            border-radius: 3px;
        }

        .select-arrow {
            margin-top: 15px;
        }

        input {
            max-height: 34px;
            border: 0;
            padding: 0.1rem 30px 0.1rem 1rem; // allow room on the right for arrow

            &:disabled.override-disabled-style {
                color: $greyish-brown;
            }
        }
    }

    &.hide-icon {
        .icon-form {
            width: 10px;

            svg {
                display: none;
            }
        }

        .label-content {
            padding-left: 4px;
        }

        input {
            padding-left: 12px;

            &.arrow {
                padding: 0 26px 0 12px;
            }
        }
    }
}

// new radio styles
label.radio-label {
    position: relative;
    height: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: none;
    padding: 0;

    transition: 0.2s;

    &.disabled {
        cursor: default;

        &::before {
            background-color: $white-medium-dark;
            border-color: $titan-white;
            color: $grey;
        }
    }

    &::before {
        @include nice-easing-animation();
        position: relative;
        width: initial;
        min-width: 110px;
        background: none;
        background-color: $white;
        border: 1px solid $cloudy-blue;
        color: $grey-warm;
        content: attr(data-label);
        display: block;
        font-size: 14px;
        font-weight: 500;
        overflow: hidden;
        padding: 6px 10px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;

        @include media(large) {
            min-width: 130px;
        }
        @include media(xlarge) {
            min-width: 147px;
        }
    }

    &.icon-radio-label {
        width: 50px;

        &::before {
            border: 1px solid $iris;
        }

        &:hover {
            &::before {
                border: 1px solid $iris;
            }
        }

        &.checked {
            &::before {
                background-color: $iris;
            }

            svg {
                fill: white;
            }
        }

        svg {
            position: absolute;
            width: 18px;
            height: 18px;
            fill: $iris;
        }
    }
}

.datetime-radio-wrapper.new-style {
    display: flex;

    > div {
        margin-right: -1px;

        &:hover {
            z-index: 1;
        }
    }

    > div:first-of-type {
        label::before {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }

    > div:last-of-type {
        margin-right: 0;

        label::before {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        input:checked + label.radio-label {
            &::before {
                border-color: $iris;
            }
        }
    }

    input.new-style-radio {
        display: none;

        &:hover + label:not(.disabled)::before {
            border-color: $iris;
        }

        &:checked + label.radio-label {
            z-index: 2;

            &::before {
                background-color: $iris;
                border-color: $dark-iris;
                color: $white;
            }

            &.disabled {
                &::before {
                    background-color: $grey;
                    border-color: $grey;
                }
            }
        }

        label.radio-label.disabled {
            cursor: default;
            pointer-events: none;
        }
    }
}

.checkbox-wrapper.new-style .check-toggle-icons {
    @include flex-center();
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 30px;
    height: 32px;
    pointer-events: none;

    svg {
        width: 20px;
        height: 18px;
        display: none;
        fill: $white;
    }

    .fa {
        color: $cloudy-blue;
    }
}

.checkbox-wrapper.new-style label.check-toggle-label {
    top: -26px;
    left: 30px;
    background-color: transparent;
    color: $grey-warm-darker;
    font-weight: 500;
    padding-right: 7px;
    white-space: nowrap;

    &::before {
        display: none;
    }
}

.false-radio {
    @include nice-easing-animation();
    @include flex-center();
    min-width: 50px;
    min-height: 32px;
    background-color: $white;
    border: 1px solid $faded-blue;
    color: $grey-warm-darker;
    cursor: pointer;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    padding: 5px;
    text-align: center;

    &:not(:last-of-type) {
        border-right: 0;
    }

    &:hover,
    &:focus {
        border-color: $iris;
    }

    svg {
        width: 16px;
        height: 16px;
        fill: $iris;
    }

    &.active {
        background-color: $iris;
        color: $white;

        svg {
            fill: $white;
        }
    }

    &:first-of-type {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    &:last-of-type {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    &.disabled {
        background-color: $grey;
        border-color: $grey;
        color: $white;
        cursor: not-allowed;
        opacity: 0.8;

        &:active {
            pointer-events: none;
        }
    }
}

.input-label {
    h3 {
        position: relative;
        color: $greyish-brown;
        font-size: 12px;
        font-weight: 500;
        margin: 20px 0 5px;
    }

    .input-lock-wrapper {
        top: -4px;
        left: -22px;

        &:hover .lock-tooltip-wrapper {
            bottom: 34px;
        }

        .edit-rider-wrapper & {
            .lock-tooltip-wrapper {
                left: -7px;
            }
        }
    }

    &.pull-up {
        margin-top: -10px;
    }
}
