// Form Layout Elements
.input-wrapper {
    @include clearfix;
    position: relative;
    clear: both;
    overflow: hidden;
    border: 1px solid transparent;
    margin-top: 10px;
    width: 100%;
    .ie11 &{
        overflow:visible!important;
    }
    &.autopop {
      animation: 1.5s ease-out forwards indicate-autopop;
    }
    &.two-column-input-wrapper {
      min-width: 100px;
      .expiration-dates & {
        min-width: 50px;
      }
    }
    &.old-style {
      @include media(small) {
        margin-top: 10px;
      }

    }
}

.button-wrapper {
    @include flex-column;
    margin-top: 20px;
}

.two-column-input-group {
    display: flex;
    flex-wrap: wrap;

    .two-column-input-wrapper {
        &:nth-of-type(1) {
            margin-top: 0;
        }
    }

    &.uneven-split-group {
        .two-column-input-wrapper {
            width: 100%;

            &:nth-of-type(even) {
                margin-top: 20px;
            }
        }
    }

    @include media(medium) {
        .two-column-input-wrapper {
            width: 50%;
            position: relative;

            &:nth-of-type(1) {
                margin-right: 20px;
                width: calc(50% - 20px);
            }

            &:nth-of-type(odd) {
                margin-right: 20px;
                width: calc(50% - 20px);
            }

            &:nth-of-type(2) {
                margin-top: 0;
            }
        }

        &.uneven-split-group {
            .two-column-input-wrapper {
                width: 65%;

                &:nth-of-type(even) {
                    width: calc(35% - 20px);
                    margin-top: 0;
                }
            }
        }
    }

    .driver-details {
        width: 100%;
        margin-bottom: 15px;

        .two-column-input-wrapper {
            display: inline-block;
        }
    }
}

p + .two-column-input-wrapper{
    margin-top:0;
}

.field-name-optional {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  color: $grey;
  text-transform: none;
  letter-spacing: normal;
}
