// Default Ordered List Styles
ol {
    counter-reset: li;
    list-style: none;
    padding: 0;
    li {
        margin-left: 25px;
        position: relative;

        @include media(medium) {
            margin-left: 33px;
        }

        @include media(large) {
            margin-left: 40px;
        }

        &:before {
            content:counter(li);
            counter-increment:li;
            position: absolute;
            font-size: 2.2rem;
            left: -2.5%;
            top: 19%;

            @include media(medium) {
                font-size: 2.5rem;
                top: 16%;
            }
        }
    }

    @media screen and (max-width: $break-mobile) {
        font-size: .8em;
    }
}

// Default unordered lists are unstyled
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-left: 0;
      &:before {
        content: '';
      }
    }
}

// @Extend this for a styled lists or use class (use for blog post styling)
%styled,
.list-styled {
    list-style-type: square;
}

dl {
    margin-bottom: $base-spacing / 2;

    dt {
        font-weight: bold;
        margin-top: $base-spacing / 2;
    }

    dd {
        margin: 0;
    }
}
